<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/nct6779d/control/0/plot" value="false" />
    <add key="/lpc/nct6779d/control/1/plot" value="false" />
    <add key="/lpc/nct6779d/control/2/plot" value="false" />
    <add key="/lpc/nct6779d/control/3/plot" value="false" />
    <add key="/lpc/nct6779d/control/4/plot" value="false" />
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/load/7/plot" value="false" />
    <add key="/amdcpu/0/load/8/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/power/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/amdcpu/0/power/2/plot" value="false" />
    <add key="/amdcpu/0/power/3/plot" value="false" />
    <add key="/amdcpu/0/power/4/plot" value="false" />
    <add key="/amdcpu/0/power/5/plot" value="false" />
    <add key="/amdcpu/0/power/6/plot" value="false" />
    <add key="/amdcpu/0/power/7/plot" value="false" />
    <add key="/amdcpu/0/power/8/plot" value="false" />
    <add key="/amdcpu/0/power/9/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/atigpu/0/temperature/0/plot" value="false" />
    <add key="/atigpu/0/temperature/1/plot" value="false" />
    <add key="/atigpu/0/temperature/2/plot" value="false" />
    <add key="/atigpu/0/temperature/3/plot" value="false" />
    <add key="/atigpu/0/temperature/7/plot" value="false" />
    <add key="/atigpu/0/temperature/8/plot" value="false" />
    <add key="/atigpu/0/temperature/9/plot" value="false" />
    <add key="/atigpu/0/power/0/plot" value="false" />
    <add key="/atigpu/0/clock/0/plot" value="false" />
    <add key="/atigpu/0/clock/1/plot" value="false" />
    <add key="/atigpu/0/voltage/0/plot" value="false" />
    <add key="/atigpu/0/load/0/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/2/temperature/0/plot" value="false" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="469" />
    <add key="mainForm.Location.Y" value="137" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/lpc/nct6779d/voltage/0/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/1/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/2/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/3/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/4/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/5/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/6/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/7/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/10/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/11/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/12/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/13/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/14/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/1/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/2/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/3/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/4/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/5/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/6/plot" value="false" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/temperature/4/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/clock/6/plot" value="false" />
    <add key="/amdcpu/0/clock/7/plot" value="false" />
    <add key="/amdcpu/0/clock/8/plot" value="false" />
    <add key="/amdcpu/0/power/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/hdd/1/load/0/values" value="" />
    <add key="/hdd/2/temperature/0/values" value="" />
    <add key="/hdd/2/load/0/values" value="" />
    <add key="/atigpu/0/temperature/0/values" value="H4sIAAAAAAAEAHsa2NHpFnXbg5HBwinb+gQLAxCA2AssFtYxgMGB/zWeHYww8VCWo8ow9gkZ616YGtP/zXA1m1cXi8LYap8SmSBsc6fiQylMMPHXP47C7fL0jYOrmf2vnRNm5lm/FriZF34ehqvfyJ4sBFNTK4Jw24H0ZLj5ADu0FWTYAAAA" />
    <add key="/atigpu/0/temperature/1/values" value="H4sIAAAAAAAEAHtb0dHpFnXbg5HBwqnM+gQLAxCA2L2CC+sYwODA/xrPDkaYeCjLUWUY+4SMdS9Mjen/ZriazauLRWFstU+JTBC2uVPxoRQmmPjrH0fhdnn6xsHVzP7Xzgkz86xfC9zMCz8Pw9VvZE8WgqmpFUG47UB6Mtx8AN/D8yHYAAAA" />
    <add key="/atigpu/0/temperature/2/values" value="H4sIAAAAAAAEAHtb0dHpFnXbg5HBwqnM+gQLAxCA2L2CC+sYwODA/xrPDkaYeCjLUWUY+4SMdS9Mjen/ZriazauLRWFstU+JTBC2uVPxoRQmmPjrH0fhdvmVxMHVTLvezgkz86xfC9zMCz8Pw9VvZE8WgqmpFUG47UB6Mtx8AAUMahHYAAAA" />
    <add key="/atigpu/0/temperature/3/values" value="H4sIAAAAAAAEAHtb0dHpFnXbg5HBwqnM+gQLAxCA2L2CC+sYwODA/xrPDkaYeCjLUWUY+4SMdS9Mjen/ZriazauLRWFstU+JTBC2uVPxoRQmmPjrH0fhdvmVxMHVTLvezgkz80ZpC9zMYz8Pw9VveJAkBFNTK4Jw24H0ZLj5ABt9MUfYAAAA" />
    <add key="/atigpu/0/temperature/4/values" value="" />
    <add key="/atigpu/0/temperature/5/values" value="" />
    <add key="/atigpu/0/temperature/6/values" value="" />
    <add key="/atigpu/0/temperature/7/values" value="H4sIAAAAAAAEAHtb0dHpFnXbg5HBwqnM+gQLAxCA2G8sFtYxgMGB/7JKHYww8VCWo8ow9gkZ616YGtP/zXA1m1cXi8LYap8SmSBsc6fiQylMMPHXP47C7fIriYOrmXa9nRNm5o3SFriZx34ehqvf8CBJCKamVgThtgPpyXDzAVqNv9fYAAAA" />
    <add key="/atigpu/0/temperature/8/values" value="H4sIAAAAAAAEAHtb0dHpFnXbg5HBwqnM+gQLAxCA2G8sFtYxgMGB/7JKHYww8VCWo8ow9gkZ616YGtP/zXA1m1cXi8LYap8SmSBsc6fiQylMMPHXP47C7fIriYOrmXa9nRNm5o3SFriZx34ehqvf8CBJCKamVgThtgPpyXDzAVqNv9fYAAAA" />
    <add key="/atigpu/0/temperature/9/values" value="H4sIAAAAAAAEAHtb0dHpFnXbg5HBwqnM+gQLAxCA2G8sFtYxgMGB/7JKHYww8VCWo8ow9gkZ616YGtP/zXA1m1cXi8LYap8SmSBsc6fiQylMMPHXP47C7fIriYOrmXa9nRNm5o3SFriZx34ehqvf8CBJCKamVgThttN9yXDzAXa0VfrYAAAA" />
    <add key="/atigpu/0/power/0/values" value="H4sIAAAAAAAEAHtb0dHpFnXbIyOd39HFNZmJAQiuXRV0VOJKBbObGnkd/6gsrGMAgwP/ZZU6GEEsJSUhx4PxCWA1H97zO/7hSAGz583ldfzFkgRnT2uDsAX4+R0Z3kLYixbyOs7vguidNZPX0eIzRLy7i89xwWOIGy5d5HW8H4gw80tLIpjd18vr+CYRor6qktex9wRC3H4lRLyultcxyh8inpXJ67jmOMRMCXF+xxMy1r0wv5j+bwb7pa5GxPFwK0TvoYO8jnu2Q/T+/snreGkBxJ0WFgKOz4ogau7fE3Is2wMJn7JSQUfBQxDxw4f4HB0PQti/gHq7beLA7Po6PkdrVogbJvTxOdZ9gpi/bSuvI8shhB9XX0mEh4nrX4j6c2d5Hf1K4uDqp11v54S5/0ZpC9j9d++IOB7Ykwg3h80W4gY+Pj7HDQ+ShGDqa0UgccfCIuJ4ui8Zrh4AjEIl9QQCAAA=" />
    <add key="/atigpu/0/power/1/values" value="" />
    <add key="/atigpu/0/power/2/values" value="" />
    <add key="/atigpu/0/power/3/values" value="" />
    <add key="/atigpu/0/power/4/values" value="" />
    <add key="/atigpu/0/fan/0/values" value="" />
    <add key="/atigpu/0/clock/0/values" value="H4sIAAAAAAAEAPs7v6PTLeq2h7xrmLOsazITAwhcCHO2fJwCZj9cFeb8R2VhHVic4cB/F88ORhBL/muY85L4BLAa+a0Rzp8eQvUyhDkr6iSB2SJxYc7lbUlw8fflh1lg7AenIeJBFWHOCx5D9PYXhTnfqUiBqz+R78sHY29TsO6FucHudzPYDdeZ45x3xkHMWRIQ5rzxdCJc790eiNsYFCKcv86EqHk9Mda5c08qmF11JdzZ6hBE3FYrzJnxIMKdDaJxYPa3jjBna1aI2zR9IpzrPkHMv84c5sxyCOFOOzcVdhh72vV2Tpg7b5S2gN15VifWefdjhNvYnSB2eSyMdj5/O0kIpt5ZBBK2In3xzq/SEeEJAJDHi1WkAQAA" />
    <add key="/atigpu/0/clock/1/values" value="H4sIAAAAAAAEAPs7v6PTLeq2B8OBWy5hGidYGEAAyP6jsrCOAcL57+LZwQgTd2Q5qgxjb1Ow7oWpsfvdDFdTvSxOEcaedr2dE6bmRmkLXM0h1SNwu87fThKCqXEWQdj1Kj2ZCcYGAEUpLuWoAAAA" />
    <add key="/atigpu/0/clock/2/values" value="" />
    <add key="/atigpu/0/voltage/0/values" value="H4sIAAAAAAAEAPs7v6PTLeq2ByNDgn2YxgkWBiAAsf+oLKxjAIMD/108Oxhh4o4sR5Vh7G0K1r0wNXa/m+FqqpfFKcLY0663c8LU3Chtgas5pHoEbtf520lCMDXOIgi7XqUnM8HYANfGY0qoAAAA" />
    <add key="/atigpu/0/voltage/1/values" value="" />
    <add key="/atigpu/0/voltage/2/values" value="" />
    <add key="/atigpu/0/load/0/values" value="H4sIAAAAAAAEAPs7v6PTLeq2BwNDjKOsazITAxRYPk6Bsnkc/6gsrIOwD/x38exghKmZ5niEBcZW1EmCql9gX94GYzc4/jiaBDfz+8YEKPuEw4PTCPEFj2H29jjeqUiBi69er8oOYzdvgqk/5PjPNRGuZs5xmN4ZjtsUrHth7rT73Qx1p7XTzjiEXRtPw/Quc7zbA3PPBIevM2Fqjjl27kmFq7duPgr3Y4NoHFR8h4M1azLcPXWfYGY22LEcQnL/FYQ7FVRg4m2Oxb5xcPHZ/9o5YW6+7NcCdfMJx92PEXrZnWBuM3A4fztJCKbeWQQWFzZOr9LhcWcPAPa7exPUAQAA" />
    <add key="/atigpu/0/load/1/values" value="" />
    <add key="/atigpu/0/control/0/values" value="" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEABN2Uuxyi7rtofbN1OkvSxITAxAsO2HqdEUtDcyuYjBz6ldlrmMAgwP/nZ6rgMWvmZs6fT4HUV8ob+pkXglhrzQydbK5kABma1maOrXeTgazjThNnS68SwSzH8SaOjF9gKo3NXVijoGwrwubOrnbQNSrFZo6nRRNAbO/aJg69epC1Mz9ZuLE8BhiPvc1EydhSYia1jMmTnkCEDVvT5o4beSBsL12mDhpfP/fB3O/ZLcixHxWSycJqL1P0i2cfn+EuE1c19yp+RLEfPUUc6epIhA1x6+ZOx2fBGFzRJg7MXJB2DKx5k5ZZyBuDvhl7nToJUTvrGILp6l2EPFl5y2dHhdDzO/msHK6vCcVzN7HY+W0dms8mG0SbOWUsRGi5twKK6eskz7cMDfviYG4+USkpROfBcTevX8tnB6cgrAr1C2dNnEcFYSpn/hZFSy+1MXSidMF4h6d8xZOAKWzAWPsAQAA" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEADWOTSiDcRzHx6SwxDY1DivCRaJdOCy+aeGw006SvI21dqA4UV7Ky0G0Ek7iJhdl5S2tPCnJGi3WDuYgq//j2fM8QySZGf1/2+/06dfn//t/DG2VS+3d0U59QkQqbzBX8z/GAxHhWhdna1LEtl07reEjpC1CNd/PJhneb8h3PzA0TRCzDwZrqJ9zY4phIerkrBMYQokBzj91InJfyT/9YtD2EG9dM3RYyV+2ibgqG+K8+MywUk9O7y6DJkb376cZDOXkHI0xjJRkekYZfDpipYvBYdZ4s/0vzkq+N4VlmDL/7hTJSL5Rm2tSwtwt3d8QJKwbydl3xHG5Slzlk5BTSLx5LMETpObvmTjOJXq7ViFjvYX2loiC2DjdPzGruPMPc9ZXq9g77OP8NKXC7SPnN67Cc2Uvyjb7e6j5s1VBcXOmOSDjMUAcScs4a7gozfrzwRq+z69RUGCjHrtXxh8qGFLH7AEAAA==" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEADWOzyvDcRjH90N8v98HbY1woFbjNk7ya6m3xJSTpGj5NZZWhnZYDqTYgUitRvIn2MpktzGtlqalxRzWLmonpY3IxY/R57Hn9Ord63met6HPuDMwkbUW3xV8l81qVH/zoyekWxyCnXkFB27tukrMVbHnyCRyq4vwdst+eo3QscrsXyFYUtOClxcJ3qxdsGaXkMrPCFbGCJoX9k+WCFobc5eXMGhhPzZESNTOCY57CHtmdjKHBFWO7x8HCIYGdoJnBJeOndFzQqiS2RcljDSp9kv9C3ajyL/UMur//7Y7ZHy+creHVgWbd3z/ghT4a9g5jcm49jF7DArUCnO3ToEzyZ0pICP2xLuXkzL8vZwXNiTk3Hw/YJNwH5kXXByXEAxPCa4zS1gIsbP9UQFnYphKnSM27lyVlFDdyX/D5TIeb5gbnyVE2+L6kr+VbBa5NyNB7uc+syYZvxDrJLvsAQAA" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEAPsspdjlFnXbI+XUBTtZnSQmBhA4wG+/5G8qmP3iJJ/9Ipl/tQwQif/xklpg8VhxY/vP5yDql/3cZ68eBNO7wt7nQgKYLRbdad/KlAI3c+vxRDA7ImCRnax4Mpj95Zu0/TMTiN4TDPr2KckQcYVqafsN7yBshoZFdstCoOYzVNkxPIaYf+LccbunH5Ph4g0CMDVidg95YGwPO/ebv/pg7jduVQGLT33sbl+xF6JmQ8tuu9+sEHbEFmv7XUYQts6KYvuNnRB2inubvU4ohD0hVcy+VQHCFuFytv8SARV/+tbOvwXCdogpsV9uD2E37pJ3OOYNYftsTrSfnAC1K2eq3W1BiPsrLh+3a70BCZ8UdWb7j/nu3DA3m25TA4sfqs6z57OAhpXfW7sHp2BhrmHPP2m/IEy9SZY2WPx/DJf9T5kEaDistwMAVoF/S+wBAAA=" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEAPsspdjlFnXbo2aNsR0HaxITAxTsVEmDsxfJ/KuFsA78j5fUAosnLOq0+3wOqr6B00E9CMp22OrgcyEBzFawFrVvZUqBm7P1eCKcLSueDGV72D0zgeht0PG2S0lOhquZY+rPB2O73/zVB3ODcasKWM2UPW12FXsRbv4Nd7+H3S4jqJlvXOxKkxBq3s45wgJjf4lAqPdvQahZbg9hX7dSczzmDRMXc5icgFCT8Aphzsd8d26Y20y3qYHVFKSvsuOzQKh/cArB5p+0XxCm3iRLGyw+YwWP3U+ZBLgaAP5vBq2YAQAA" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEAPsspdjlFnXbY8HcflsO1iQmBjDwsNupkgZlMzAskvlXC2Ed+B8vqQUWT1jEaff5HES906Qn9upBML1V9j4XEuB6W5lS4OytxxPh5suKJ4PZDW9c7LxmHGWBsTe8S4arXxaSBGczPE6A6336EaEmUfYIC4ztfvNXH8ydxq0qYDVXgt7YVeyFmONQdszuN9yPYva7jCDsBh1vu42dCLt0QhHsVgWEmi8RCHH/FnhY2S+3R/j9mDdCfHICQv1twWS4Oa03EuHiH/PduWFuNt2mBg3bt3Z8Fgi9D04h2PyT9gvC1JtkaYPFDRS57X7KIMIcAH3ZpBfUAQAA" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEAPsspdjlFnXb44H8dVsO1iQmBijYqZIGZy+S+VcLYR34Hy+pBRafMWGl3edzEPUi1g/s1YMQen0uJIDZfm+O2LUypcDFtx5PhLI97GTFk8Hsgg+Ods9MkuDiKcnJcPUb3iHYy0IQahgeJ8DF3fg12GFs95u/+mDuNG5VAatRL3Ozr9iLcNtvuB/F7HcZwdgn7DZ2ItTohCLYrQoQ9iad03ZfIhDq/VsQ4svtEW475o3QOzkBwb4tCPGL3sZy+9YbiHD4mO/ODXOz6TY1sHiCNocdnwVEb8MbF7sHpxDm8E/aLwhTb5KlDTfnpwwiTAA+4GXw1AEAAA==" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEAPsspdjlFnXbQyCr35aDNYmJAQw87HaqpEHZDAyLZP7VQlgH/sdLasHFP5+DqRezVw+CsavsfS4kwM1pZUqBq98hrM4OY6ckJ4PFG9642G14lwxXsywkCc5meJwAV/P0I0JNgwBCzUMehJvdb/7qg7nTuFUFrqZiL0L9b6gfG3S87XYZIcQ3dkLYfm+O2OmEIsRbFRDsLxEQtsO0k3b+LTDxE3bL7SFsBWtR+2PeELbTpCf2kxMQem8LIvzbeiMRLv4x350b5mbTbWpwcT4LhN4HpxB+TNu5XxCm/q6TNlh8xoSVdj9lEuDqAYuahwnUAQAA" />
    <add key="/amdcpu/0/load/5/values" value="H4sIAAAAAAAEAPsspdjlFnXb40PcJnsO1iQmBjBYb79TJQ3MVi9zc5jv/K8WIn7gf9InTbD4Pf0mh8/noOoblBzUg2B6q+x9LiRA2YkOrUwpULa+w9bjiVC2mL2seDJc/TMThN6UZIj49Bv37Te8Q6hZFgJT42HP8Bhm/kP7px+T4WY2CMDUnLB7yANXb+d+81cfzP3GrSpg8RtcbPYVe2Fqptn/hvtdzH6XEZztsLETESY6oUlwv7QqQNhtiafsv0Qg9Pq3wN1gv9wewt6T8dD+mDfCnMkJEPaEuevsbwsmw93cegMSPifO6Tl8zHfnhrnZdJsaWHzGCyEHPguEXQ9OIcI/bed+QZj6u07aYHGxyDr7nzIJcHsBekfcHewBAAA=" />
    <add key="/amdcpu/0/load/6/values" value="H4sIAAAAAAAEAPsspdjlFnXbw+WmiT0HaxITAxg8tN+pkgZmK1i72893/lcLET/wP+mTJlQNA8PnczD1VfbqQTC2h73PhQQo+5d9K1MKXM3W44lgtrtjpb2seDJEvEHJ4ZkJVG8Dp0NKMkTc5w2Hw4Z3yXC9y0IQ5jM8hpkvZv/0I0JNgwBMzQm7hzwI9e43f/XB3G/cqgIW72B0dqjYC1HzZI6n/W9WhBt2GcHYIQ4bO6Fsh3MOOqEI/7YqQNg6p8UcvkTAxNfb+7dA2JzBoQ7L7SHsaan6Dse84e6xm5yAcOdtwWS4eOuNRLi/3Ka7c8Pc/KBPDSxuwRHuwGeRBA+3B6cQ8ZW2c78gTP1dJ22w+Lx77A4/ZWBhNc0eAF5XeQnsAQAA" />
    <add key="/amdcpu/0/load/7/values" value="H4sIAAAAAAAEAPsspdjlFnXb48dFfjtZnSQmBjDwsFvyNxXKZmCY7/yvFsI68D/pkyZY3ODiCrvP52Dqq+zVg2DsafY+FxKg7BN2rUwpcPbW44lQtpi9rHgynP3MBKE3JRkhvuEdgr0sBOE2hscJcPbTj8lw8xsEkuDshzwI9e43f/XB3G/cqgI3s2IvRI1D2TG736wQduS0avtdRhD2hLlT7Td2IszRCYWwN+nU2rcqINz8JQJhr39LEtz85fYwtr7DMW8IW71MxH5yAsLM24IQ9yucFrNvvZEIN8dtujs3zM0P+tTgYc5ngbDrwSmEXWk79wvC1N910gaLJyl22/2UQYQVAAICLmbsAQAA" />
    <add key="/amdcpu/0/load/8/values" value="H4sIAAAAAAAEAPsspdjlFnXbY8k7SXtZnSQmBjDwsF/yNxXMVrAWtZ/v/K8WIn7gf9InTbB4wqK3dp/PwdRPs1cPgrEZGHwuJEDZJ+xbmVJgbLutxxPhamTFk2F22T0zgekVs09JToarCXM+xgJjMzxOgKt/+hGhpkEAYe9DHrj77dxv/uqDudm4VQUs3sErbl+xF6HmNyuEneAoar/LCGHO3XtH4Pa2KiTB3f8lAsJ2mHbSzr8F4ebl9gj2MW+EOZMTIGy/N0fsbgtC3KxwWsy+9UYi3A1u0925Ye580KcGDVtOez4LhDkPTiHcnLZzvyBM/V0nbbC4gSK33U+ZBLh6AGS4F/HUAQAA" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEAPsspdjlFnXbg0HB3UlWJ4mJAQQO2Dkt+ZsKYSeEOVmXM9UxQCT+H9unChXPcPp8DqpeIdRJPQjKbvB28vmeAGE7xDi13k6Gqvd32no8EcJmcHaSFYeKK0Q4McfA9Po5udtAxR0inTa8g7IXuDktC4GqWWDpxPAYav4DI6enH2HmOzk1CEDVPHByesgD84uxUwnP/z6Y+9mCFKB2JThV7IWqcfB2+s0K0xvktMsIwd7YCWPHOumEwvzr5dSqAGUzBDh9iUC4378Fyk6IcFpuD3NDltMxb5g50U6TE2BsV6fbgrBwCHdqvQENnwMuTru3e3PD3JydpwT1e6ATnwXMXhenB6dgYWLn5P74sCBM/R8JdbjbfspAwyrB3gkA57YDXuwBAAA=" />
    <add key="/amdcpu/0/temperature/2/values" value="" />
    <add key="/amdcpu/0/temperature/3/values" value="" />
    <add key="/amdcpu/0/temperature/4/values" value="H4sIAAAAAAAEAPsspdjlFnXbg8HB1klWJ4mJAQQcLJyW/E2FsA/YOlmXM9UxQDj/j+1ThYgzODp9PgdVf8DTST0IymYwcvL5ngBhNzg5td5OhoqbOm09nggVN3GSFYeKH7BzYo6B6TVzcreBijdYO214lwxXvywE5jY9J4bHUPMd9J2efoSZb+LUIABzj7HTQx4ou0HXqYTnfx/M/WxBClDxIKeKvTAzfZx+s8LU+zjtMkKIb+yEifs66YTCzA9walWAqfF3+hIBU+Pp5N8C80uI03J7mPpYp2PeMHF/p8kJMHEPp9uCsHBwd2q9kQg3f/d2b26Ym7PzlOBu47NAhNWDUzB7zZ3cHx8WhKn/I6EOV/9TBhYXZk4AYrhWIOwBAAA=" />
    <add key="/amdcpu/0/temperature/5/values" value="" />
    <add key="/amdcpu/0/temperature/6/values" value="" />
    <add key="/amdcpu/0/temperature/7/values" value="" />
    <add key="/amdcpu/0/temperature/8/values" value="" />
    <add key="/amdcpu/0/temperature/9/values" value="" />
    <add key="/amdcpu/0/temperature/10/values" value="" />
    <add key="/amdcpu/0/temperature/11/values" value="" />
    <add key="/amdcpu/0/power/0/values" value="H4sIAAAAAAAEAPsspdjlFnXbY9b8+46yOklMDEBgx/HRccnfVDA7OP2no3U5Ux0DGBz4f2yfKli8aNsLx8/nIOqfzGdyMq+EsJvLvzvaXEgAs3f1/HVsvZ0MZiu3vHLcejwRzD5z7I2jrDhEvJDnsSNzDETvgtvPHN1tIOIKls8cN7yDsLco3nJcFgJRI/TulCPDY4j5Sz1OOT79CFFzZ/oVxznmEDW/r550PPoUYpc6zynHe8b/+2Dun6OlABbf7/nW8fsTiPrdz2841tyDqLdefdfxViRE/MbFV44TkyDssP9fHHVCIWyHHc8dWxUg7GL7L44v6iFsneo7jtGxEPbXrP+OV9Mg7GhFTqcZKhA2C+dzx8kJEPYltrOOtwUh7i8wuuTYegPiBovgR45S9725YW7mcVcCi3NuYXLis4DondH90PHBKWiYp393DOY6IghT/+GjGlhc/uVnx58ykLA6fOKsIwACAaCj7AEAAA==" />
    <add key="/amdcpu/0/power/1/values" value="H4sIAAAAAAAEABN2Uuxyi7rt4X7/vcNfliQmBiAIa5RyvKKWBmZHKJs5cvsx1TGAwYH/x/apgsW1rvA4fj4HUb/zf4CjeSWELWZg6GhzIQFiToC9Y+vtZDBbaBOv44V3iWB2O7ewI9MHiHq/eWyOzDEQNks6p6O7DUT9dSFOx5OiKWD2Nab7Dr26EDVRk2Y5MDyGmC/8a7qDsCREjerHAw55AhA1F6ZMddjIA/XLvGkOn3j+98Hc71+qBBbPMZR2lIDa61951uH3R4jbQrveOtSthpg/9Zyw4yxriJqOXDXH45Mg7FNpbI6MXBD2H18Fx6wzEDdvWfXQ4dBLiN4/y+wdp9pBxBWO5Dg+LoaYP5GZ3fHynlQwO5h3ucParfFgdt+lXQ4ZGyFqJFz/O0jd9+aGuZnHHeJmPhNfRz4LiL2zAt47PDgFYR/z1HQM5joiCFP/4aMaWFxAQsGR0wXinp+LlzsAACTVrCrsAQAA" />
    <add key="/amdcpu/0/clock/0/values" value="" />
    <add key="/amdcpu/0/power/2/values" value="H4sIAAAAAAAEAPsspdjlFnXbY/tLfXtZnSQmBiAQSomwv6KWBmZPcU21v9HBVMcABgf+/2xWBYsX3bOy/3wOot5IaZW9eSWEbf7jvL3NhQQwO3RWjX3r7WQwe+M1R/utxxPB7D+GHvay4hBxDx5re+YYiN4JrU727jYQ8TX77ew3vIOw153QsF8WAlFjcoHRnuExxPzFSYz2Tz9C1DRwStjPMYeokTdntD/6FGIXYz2j/cmo/30w929kVgCLp9d62X9/AlEv8E3evuYeRP2cSXr2tyIh4mdNnOwnJkHY86KC7XVCIewcFQv7Oe4Q9tLcGPuLEVBxJTX76FgIu/15g/3VNAi7RFnYYbE3hJ34v9++wxIq/pnN/rYgxP2bpSXtW29A3PBzlba9K5sPN8zND+WVwOLFBxvt+SwgegM69O0fnIKwF+lH2CcYHhGEqX98Sg0sXvvZ3/6nDCSsjHrZ7QHMR+Dz7AEAAA==" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEAPsspdjlFnXbw0K10lVWJ4mJAQhWrmpwvaKWBmaDxG90MNUxgMGB/z+bVcHirEDxz+cg6vuA6s0rIex3XwpcbS4kwMVbbyeD2Y7lJa5bjyfCxRWKj7LA2O42yXAzN7xDsJeFIMxneJwAN//pR4gaLfcc1znmSXD1R58mwtkno/73wdy8kVkBLD4baE7x4SMsMPatSIheOaD6iUlJcDU6oRC2E8h8dwg7Cuj+ixEINdGxCPbVNAg7EqhmsTdCfYclwpzbgslw9a03EuHirmw+3DB3PpRXAotPBarhs4DoFQa67cEpCFsIyE4wPCIIU//4lBpYnGV1g+tPmQQ4GwCQduLc1AEAAA==" />
    <add key="/amdcpu/0/power/3/values" value="H4sIAAAAAAAEABN2Uuxyi7rt8fiYgf1fliQmBiCIDA62v6KWBmY3Lyu1v9HBVMcABgf+/2xWBYtv1A6x/3wOor67faW9eSWEzaIxz97mQgKYvcOmyb71djKYvWKLs/2Fd4lgdtXjAHumDxD1PMyu9swxELaAjrO9uw1E/awCP/sN7yDsh9fV7ZeFQNSUszPbMzyGmB+yj8H+6UeIGnE/Mfs55hA1y6wZ7I8+hdg19Q6T/cmo/30w929kVgCLn90eaP/9CUT9zpty9mmsEHZGjoP9ByMI+/l9J/uJSRC2g0ikvU4ohH1JwsR+jjuErVYbZH8xAsKWb9Syj46FsH/Mn2J/NQ3Cvhf5yH6xN4TNl9NmPykBwvZYxG1/8RWEvb90m13rDYibmaQ17F3ZfLhhbn4orwQWPxDRZs9nAVGf4qtl/+AUhM3dGWov73pEEKZeZbsaWLxJOsn+pwwkrJz2stkDAMj5OPjsAQAA" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEABN2Uuxyi7rtEeWe4/qXJYmJAQhWrmpwvaKWBmZbqFa66m1gqmMAgwP/F8eogsVZgeKfz0HU9wHVm1dC2O++FLjaXEiAi7feTgazHctLXC+8S4SLs/ocZYGx3W0garSAbtjwLhlu/rIQhPkMjxPg5j/9iFA/xzwJrv7o00Q4+2TU/z6YmzcyK4DFo4Bu+P4Eon420Mw0VgT7gxGE7Qg0c2JSEly9TiiELQc0c447QvxiBIIdHYsw52oagr3YG6FmUgKE7QQ0/+IrCLtuZrpr641EuPmubD7cMDc/lFcCi08FmsNnAVEvDFTz4BSELQRky7seEYSpV9muBhZnWd3g+lMGElaKFSWuAFvVb2ngAQAA" />
    <add key="/amdcpu/0/power/4/values" value="H4sIAAAAAAAEABN2Uuxyi7rtEer4ze4vSxITAxB8szO0v6KWBmE/4LfX28BUxwAGB/4vjlEFi7NJSNl/PgdRfyZ8jb15JYQ9Q6nd3uZCApgdZhRl33o7GcxeYadsf+FdIpjNHatuz/QBon771td2zDEQtn/mZDt3G4h6ueoMu5OiKWC22Xptu15diJqgrZq2DI8h5q9LYbR9+hGiPj5Iym6OOUSNeT2f7UYeCNtInsv2rvH/Ppj7NzIrQMxsj7D//gSiJmz1Pts0Vgg7vO2V3QcjCDsq18p+YhKEvXmmtb1OKITd9EXUfo47hC1sLW1/MQLCfvJa2D46FsIWMHS1v5oGYV/fstJ+sTeErecsYj8pAcI+dyfG9uIrCLtuzRW71huQ8ClfL2rvyubDDXPzQ3klsHhRraM9nwVEvU+Zh92DUxD2F4WvdvKuRwRh6lW2q4HFTc0s7DldIGHF5KRvCwAg0UAj7AEAAA==" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEABN2Uuxyi7rtEeOe4/qXJYmJAQhWrmpwvaKWBmbXZsa76m1gqmMAgwP/F8eogsVZVStdP5+DqO8DqjevhLDffSlwtbmQABdvvZ0MZjuWl7heeJcIZzN9gKhPm5nuyhwDYXftjnJ1t0mGi58UTQGz/YFu6NWFqFl/19eV4THEfD+g+NOPyXD2HHOEORt5IOzi7iDXX1H/+2Dun3JHHiweBXTD9ycQNUeBZqaxQth1QHs/GEHYckA/TkyCsGcD/aITCmE7AcNqjnsS3JyLERB2LVBvdCxC/dU0CDsSqGaxN4S91jTddVIC1J1At118BWEvArq59QYkfNKAfnFl8+GGufmhvBIkHIDm8FlA1EcD1Tw4BWE3AM2Rdz0iCFOvsl0NLK5YUeLK6QIJq9x7vq4AvSIQ4OwBAAA=" />
    <add key="/amdcpu/0/power/5/values" value="H4sIAAAAAAAEABN2Uuxyi7rtMWOOuf1fliQmBiDYlxJnf0UtDcxWvdJhr7eBqY4BDA78XxyjChafd87V/vM5iPol4WvszSsh7MliK+xtLiSA2eH3++1bbyeD2d+0AuwvvEsEsw2OptkzfYCot5XzsGeOgbAnvQi1d7eBqD90MMD+pGgKmO0lbGLfqwtRI2THbM/wGGL+Q3Vm+6cfIepfbZKyn2MOUdPwj8l+Iw+EXaLLbv8r6n8fzP1T7siDxfudPO2/P4GoWcijZJ/GCmHbnHC3/2AEYeu88LOfmARhK7al2+uEQthVgWb2c9whbFn+GPuLERD2PDlN++hYCPt0ZJ/91TQI+8vl8/aLvSFse7d2+0kJEPah+3z2F19B2AGKIvatNyDhk9ViaO/K5sMNc/NDeSWweKR/jz2fBUR9yB0N+wenIGy31Bh7edcjgjD1KtvVwOJ3WMPsOV0gYRV9m9MeAAoMJMrsAQAA" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEABN2Uuxyi7rtsXJVg+tfliQmBiAAsa+opYHZUe45rnobmOoYwODA/8UxqmBxLaD453MQ9X1A9eaVEDaraqWrzYUEuHiUWDcnjO1ukwwWdywvcT0pmgJX36uLMIfhcQJc/OnHZLj4HHOEmo08SXA3/Ir63wdz25Q78mDx2UA1358kwdlprBB2FNDeD0YQthzQ/IlJCDU6oQjxOe4I8YsRCL3RsQjxik1HWGDsSQkINRdfIdS03kiEm+nK5sMNc+dDeSWw+FSgGj4LiHphoJoHpyBsP6A58q5HBGHqVbargcVZVje4crokwNkAhp677bwBAAA=" />
    <add key="/amdcpu/0/power/6/values" value="H4sIAAAAAAAEABN2Uuxyi7rtMSFnjf1fliQmBiDIOvnF/opaGpj99oKgg94GpjoGMDjwf3GMKlh8Rcxt+8/nIOptDrM5mFdC2GvMntjbXEgAszfL8zm03k4Gs9/UPrW/8C4RzObqvm/P9AGiftm6o/bMMRB2m9Ite3cbiPq5ec/sT4qmgNnvf66y79WFqOErz7BneAwxX/5Olf3TjxD1n4/OsJ9jDlHza32G/UYeqNumB9n/ivrfB3O/u7oSWNzlwhV7l1kQcxhsFtunsULU95qstP9gBA2HsHf2E5Mg7Clrv9vrhELYhROu2c9xh7CfnGdzuBgBYRuWL7ePjoWwHa3FHa6mQdiWXgIOi70h7N2K6+wnJUDYLPHd9u8EIe5fZzjZPmMjJHwUz9ywd2Xz4Ya5+aE8xM3zf6o58FlA9LauOW//4BSEnVsm5iDvekQQpl5luxpYvEWTxYHTBerHbY32AMNMlVzsAQAA" />
    <add key="/amdcpu/0/clock/5/values" value="H4sIAAAAAAAEABN2Uuxyi7rtsXJVg+tfliQmBiAAsa+opYHZFqqVrnobmOoYwODA/8UxqmBxVqD453MQ9X1A9eaVSXBxmwsJcPHvU7cIwNgMjxPgap5+TIarmWOOMGcjD8KcX1H/+2D2uqsrgcVnA9Vom7Zzwtg6oRD1UeUlrnPck+Bqeno2CMDYrmw+3DBzHspDzJkKFH/HdJQFxpZ3PSIIU6OyXQ2shmV1gyunSwKcDQDQhWs0LAEAAA==" />
    <add key="/amdcpu/0/power/7/values" value="H4sIAAAAAAAEABN2Uuxyi7rt8XXtRfu/LElMDEAgxszgcEUtDcxmrxVx0NvAVMcABgf+L45RBYvvW/fa/vM5iHotc1EH80oIe7/ZbXubCwlgNsNOEYfW28lg9vb2O/YX3iWC2TcF3tkzfYCo/3X/pj1zDIQ99dhbe3cbiPoHji/sT4qmgNkWNw7Y9+pC1Fxo6rBneAwx/25npb2wJERNu/gC+zwBiJpMmzT7jTwQtu77NvtfUf/7YO53V1cCi6cKSzhIQO09P2m3/SRniJni9/bYfzCCiBuK/7KfmARhvyxXdtAJhbBZhN/bz3GHsFPiBB2yzkDcXGK/xv7QS4g5RiFSDlPtIOLH5eUdHhdD/M6weaP90ampYDZfULf97jvxYPaOk5PsMzZC1BhJXLXX1fXhhrn55w9FsPiPU5YOfBYQew9o37d/cArCltgi55Cec0QQpv5OvxpY/IoxlwOnC8Q9m0Rm2wMAASwvg+wBAAA=" />
    <add key="/amdcpu/0/clock/6/values" value="H4sIAAAAAAAEABN2Uuxyi7rtsXJVg+tfliQmBiAAsa+opYHZFqqVrnobmOoYwODA/8UxqmDxPqCaz+eS4GzzSgibFaje5kICXPz71C0CMDbD4wS4GmHJFLiaPAGEORt5EOb8ivrfB7PXXV0JLD4bZO9Fbz4YO+tMMli8bma666GXEPM3VzS4TrVLhqt/XJwIZx+dmgpXv/tOPJgdVV7imrExEc7W1fXhhtn784ciWHwqUO87pqMsMHZ6zhFBmJo7/WpgNSyrG1w5XRLgbACery8CXAEAAA==" />
    <add key="/amdcpu/0/power/8/values" value="H4sIAAAAAAAEABN2Uuxyi7rtESbWYf+XJYmJAQjK52+wv6KWBmYbNb2119vAVMcABgf+L45RBYvHqM63/3wOot5w90d780oIu1Bukb3NhQQw2yL4p33r7WQwO2HpEvsL7xLBbPYVK+yZPkDUT7i6w545BsIuk1pu724DUc/xfan9SdEUMPvsti77Xl2IGhZDXXuGxxDzi9x17IUlIWqKL2XY5wlA1LQ+0LffyANhH3DWsP8V9b8P5n53dSWwOLfkSnsJqL0B5/Psf3+EuC3Dpsu+bjXEfPWclfazrCFqtjXvsT8+CcLuUZ9lz8gFYR8/v94+6wzEzVMt6u0PvYToXRt5z36qHURcxO6q/eNiiPm7N7TaX96TCma3c5vbr90aD2Z/cQuzz9gIUbOrusdeV9eHG+bmnz8UweJOXz/Z81lA7GWUbLd/cArCfrH1uH16zhFBmPo7/Wpg8SNz1tlzukDc4/DJwR4A7jDT0ewBAAA=" />
    <add key="/amdcpu/0/clock/7/values" value="H4sIAAAAAAAEABN2Uuxyi7rtUVJe4vqXJYmJAQhWrmpwvaKWBmZbqFa66m1gqmMAgwP/F8eogsX7gGru7WKUh7E38kD0sgLV/4r63wdT766uBBafDVQjEQNREwW06/fHRDi7bnUCXM0sa4Sa45OS4OKMXAjxrDPJYPbRu76uh15C9G6uaHCdapcMV/+4OBHOvrwnFcxeuDvKde3WeLg5GRsRbtDV9eGGufnnD0Ww+FSg3ndMR1lg7PScI4IwNXf61cBqWFY3uHK6QNwgU9ngCgBl7YLZUAEAAA==" />
    <add key="/amdcpu/0/power/9/values" value="H4sIAAAAAAAEABN2Uuxyi7rtsVEr3v4vSxITAxDwvJtgf0UtDcz+e3CHvd4GpjoGMDjwf3GMKlhc80eH/edzEPUzvmy0N6+EsPNmd9nbXEgAs7f93mvfejsZzBbI7rK/8C4RzC6r6bNn+gBRLyZSbc8cA2Er9Hbau9tA1J951m5/UjQFzFZJjbbv1YWo4TaRtmd4DDGf5YigvbAkRM2mGFv7PAGImrgGBfuNPBB2Ep+E/a+o/30w97urK4HFz1b32EtA7V2/2s3+90eI29RWxdvXrYaYfyK11X6WNUTNqeYJ9scnQdgxwXn2jFwQNr9mv33WGYibtzFG2h96CdFb77rVfqodRDz56Xr7x8UQ82e3h9pf3pMKZq/cqWK/dms8mD2lw9E+YyNEzZG8LHtdXR9umJt//lAEi+/6ud+ezwJi75pLkfYPTkHYfG+m2qfnHBGEqb/TrwYWr3Geas/pAnGPSZ28PQDnO31N7AEAAA==" />
    <add key="/amdcpu/0/clock/8/values" value="H4sIAAAAAAAEABN2Uuxyi7rtsXJVg+tfliQmBiAAsa+opYHZFqqVribXmeoYwODA/7mmqmDxPqCae7sY5WHsjTwQvaxA9bJN//tg6lUYlMDis4FqJGIgahbujnL9/TERzK6dme5atzoBrmaWNURNVHmJ6/FJSXBxRi6EeNaZZDD76F1f10MvEXqn2iXD2Y+LE+HqL+9Jhdu7dms8mF0HtDdjI0KNrq4PN8zNP38ogsWnAs15x3SUBcZOzzkiCFNzp18NrIZldYMrpwvEDYoVJa4AkhZZ/lABAAA=" />
    <add key="/lpc/nct6779d/voltage/0/values" value="H4sIAAAAAAAEAPsspdjlFnXbg71R1J6DNYmJAQg6xCTtd6qkgdl7S4Tt9y89XcsABgf+K2bGgMXbgWpEvkHUP1kqba8eBGFLsojZ+1xIALNLJ0vYZ9xOBrMvfBe2v/QuEcwO6BW35/gAUf/pEq/972iEXn+bZLj5R0VT4G5I14WomebMbc/0OAGuV0kSosbmPr99gwBEzYpj3PYPeSBsJm12+2k5R/pg7j93KgosrtMuZt/3BKKmOEPQ/jfU74+qROx3GSH8VZoEYX/TkLFXDYWw7/vz2p9wR4h/iYCwV30UsmePhbD1Nsnav0+DsPfPl7I/5g1hr5GRsp+cAGHfVWGzvy0I8a9fkoB9xkZI+CQLSNhPbBbkhrl500lImM85omD/FurHWTMl7Rk/QdizgewK/j5BmPrTbxDqf8ogwgoA/5ahpOwBAAA=" />
    <add key="/lpc/nct6779d/voltage/1/values" value="H4sIAAAAAAAEAPsspdjlFnXb49mFRfYHNU+wMAABiL1/6elaBjA48F8xM4YJJn7keLIijD1/8pE+mJqji6PgarRX/pODsbevEuSGqelZhDDnHdNRuF0V/H2CMDWn3yDU/JRJgLMBdJBdCKgAAAA=" />
    <add key="/lpc/nct6779d/voltage/2/values" value="H4sIAAAAAAAEAPsspdjlFnXbw44r3OGg5gkWBiAAsfcvPV3LAAYH/itmxjDBxI8cT1aEsedPPtIHU3N0cRRcjfbKf3Iw9vZVgtwwNT2LEOa8YzoKt6uCv08Qpub0G4SanzIJcDYAbkRS26gAAAA=" />
    <add key="/lpc/nct6779d/voltage/3/values" value="H4sIAAAAAAAEAPsspdjlFnXbw44r3OGg5gkWBiAAsfcvPV3LAAYH/itmxjDBxI8cT1aEsedPPtIHU3N0cRRcjfbKf3Iw9vZVgtwwNT2LEOa8YzoKt6uCv08Qpub0G4SanzIJcDYAbkRS26gAAAA=" />
    <add key="/lpc/nct6779d/voltage/4/values" value="H4sIAAAAAAAEAPsspdjlFnXbQ771tT0HaxITAxCsOPbafqdKGphtyPHGfv/S07UMYHDgv2JmDFgcpP7kJT8+GPt3NESvEVC9v00ymO3S/cb+qGgKXDxdNwmudwmPOjuM/ZAHIr4SaO/8yUf6YHYdXRwFV7+jvpMTxlYNRag/4Y4w80sEgs0emwR3//s0CHu35xv7Y95JcLdNTkCYc1swGa43Y2MinL19lSA3zD09ixB+f8d0lAXGruDvE4SpOf0GoeanTAKcDQDYKpLOaAEAAA==" />
    <add key="/lpc/nct6779d/voltage/5/values" value="H4sIAAAAAAAEAPsspdjlFnXbI1+o2f6g5gkWBiAAsfcvPV3LAAYH/itmxjDBxI8cT1aEsedPPtIHU3N0cRRcjfbKf3Iw9vZVgtwwNT2LEOa8YzoKt6uCv08Qpub0G4SanzIJcDYAET42N6gAAAA=" />
    <add key="/lpc/nct6779d/voltage/6/values" value="H4sIAAAAAAAEAPsspdjlFnXbY9bMmfYHNU+wMAABiL1/6elaBjA48F8xM4YJJn7keLIijD1/8pE+mJqji6PgarRX/pODsbevEuSGqelZhDDnHdNRuF3LzPoEYWrmHkWo+SmTAGcDALi72HSoAAAA" />
    <add key="/lpc/nct6779d/voltage/7/values" value="H4sIAAAAAAAEAPsspdjlFnXbY61MlMNBzRMsDEAAYu9ferqWAQwO/FfMjGGCiR85nqwIY8+ffKQPpubo4ii4GmdZdXYYuzQpCSxuFhfloBqaBFdzwh3B/hKBUMMeixB/n4YQP+aNEL+mjDB/+ypBbpgbehYh3PlWAKGe8RPCnGVmfYIw9XOPItT/lEmAqwEATHZ04hQBAAA=" />
    <add key="/lpc/nct6779d/voltage/8/values" value="" />
    <add key="/lpc/nct6779d/voltage/9/values" value="" />
    <add key="/lpc/nct6779d/voltage/10/values" value="H4sIAAAAAAAEAPsspdjlFnXbY/PcfPuDmidYGIAAxN6/9HQtAxgc+K+YGcMEEz9yPFkRxp4/+UgfTM3RxVFwNdor/8nB2NtXCXLD1PQsQpjzjuko3K5lZn2CMDVzjyLU/JRJgLMBLkAS3agAAAA=" />
    <add key="/lpc/nct6779d/voltage/11/values" value="H4sIAAAAAAAEAPsspdjlFnXbQ92ww/6g5gkWBiAAsW+dOV3LAAYH/rM5xTDBxI8cT1aEsedPPtIHU3N0cRRcjfbKf3Iw9vZVgtwwNT2LEOa8YzoKt2uZWZ8gTM3cowg1P2US4GwADQYS0KgAAAA=" />
    <add key="/lpc/nct6779d/voltage/12/values" value="H4sIAAAAAAAEAPsspdjlFnXbw47ruv1BzRMsDEAAYt86c7qWAQwO/GdzimGCiR85nqwIY8+ffKQPpubo4ii4mn7LUlEY+5h3Elh8y4lr9pMTkuBqnA8fgdu1fZUgN8ycnkUIu94xHYWrWWbWJwhTM/coQs1PmQQ4GwAKEokFzAAAAA==" />
    <add key="/lpc/nct6779d/voltage/13/values" value="H4sIAAAAAAAEAPsspdjlFnXbg/v6YruDmidYGIAAxL515nQtAxgc+M/mFMMEEz9yPFkRxp4/+UgfTM3RxVFwNdor/8nB2NtXCXLD1PQsQpjzjuko3K5lZn2CMDVzjyLU/JRJgLMBCG4SaagAAAA=" />
    <add key="/lpc/nct6779d/voltage/14/values" value="H4sIAAAAAAAEAPsspdjlFnXbY2PRC/uDmidYGIAAxL515nQtAxgc+M/mFMMEEz9yPFkRxp4/+UgfTM3RxVFwNdor/8nB2NtXCXLD1PQsQpjzjuko3K5lZn2CMDVzjyLU/JRJgLMB7yCvs6gAAAA=" />
    <add key="/lpc/nct6779d/temperature/0/values" value="" />
    <add key="/lpc/nct6779d/temperature/1/values" value="H4sIAAAAAAAEAPsspdjlFnXbg4FBwemg5gkWBjBQcLp15nQthH3gP5tTDBOELeck8i0JypZ3Ug+CsRWc+ro6OWHs39FQ8QZ5J3+bZChbzumoaAqcna6bBDezVRKmV85p964jfTB7V9ZEIcx/grDrNyvC/F1GCHNKkxBs1VCE+hPuCPVfIhDuZ49NgrvnfRpCfeSaI/BwuC2IcH/GxkS4+dtXCXLD3NmzKAZu/lsBhDmMnxDs/tg+QZj6LfNi4OI/ZRLgbADBay7YjAEAAA==" />
    <add key="/lpc/nct6779d/temperature/2/values" value="H4sIAAAAAAAEAPsspdjlFnXbg4GBw+mg5gkWBjDgcLp15nQthH3gP5tTDBNM/MjxZEUYe/euI30wNStrouBqtFf+k4Oxt68S5Iap6VmEMOcd01G4Xf2xfYIwNVvmIdT8lEmAswGnetUDqAAAAA==" />
    <add key="/lpc/nct6779d/temperature/3/values" value="H4sIAAAAAAAEAPsspdjlFnXbg4GhwPGg5gkWBjAocLx15nQthH3gP5tTDBNM/MjxZEUYe/euI30wNStrouBqtFf+k4Ox5z0V5IapWZqOMOcd01G4Xf2xfYIwNVvmIdT8lEmAswEgtZEqqAAAAA==" />
    <add key="/lpc/nct6779d/temperature/4/values" value="H4sIAAAAAAAEAPsspdjlFnXbg4Hhg+NBzRMsDGDwwfHWmdO1EPaB/2xOMUwwcceJ1lIwtpJkClT8nWODQBJczUMeBHv3riN9MHNW1kTBxfueINT8Zk2Cm7PLCCFemoQQVw1FiJ9wR4h/iUCIs8fC2G8c36ch2Me8EWquKauzw9jzngpyw9y2NB3hx3dMR+Hh0B/bJwhTs2UeQs1PmQQ4GwCjJqZJRAEAAA==" />
    <add key="/lpc/nct6779d/temperature/5/values" value="H4sIAAAAAAAEAPsspdjlFnXbg4FhmyMHaxITAxhsc9ypkgZlb3G8deZ0LYR94D+bUwxUfJOjyLckuBr1IIRenwsJUPYOR6tTR1lgbI4PCPW/oxHq/W2S4eJHRVPg5qfrJsHNYXqcAFejJJkCZzcIIMx5yINg7951pA/m5pU1UXD1fU8Qan7D/bvJcZcRwm2lSQhx1VAE+4Q7jL3B8ffWIyww9vs0hJpj3gj25ASEXbcFEX7M2JgIZ897KsgNc+fSdETYvhVA2MX4CWFmf2yfIEz9lnkI9T9lEuBsAG0H0ObUAQAA" />
    <add key="/lpc/nct6779d/temperature/6/values" value="H4sIAAAAAAAEAPsspdjlFnXbg4HhxMGDmidYGMDgxMFbZ07XQtgH/rM5xTDBxI8cT1aEsXfvOtIHU7OyJgquRnvlPzkYe95TQW6YmqXpCHPeMR2F29Uf2ycIU7NlHkLNT5kEOBsAKwtQiagAAAA=" />
    <add key="/lpc/nct6779d/fan/0/values" value="H4sIAAAAAAAEAPsspdjlFnXbgwEIDmqeYGGAgsefT9dCWAf+/5WKYYKJHzmerAhj7951pA+mZmVNFFyN9sp/cjD2vKeC3DA1S9MR5rxjOgq3qz+2TxCmZss8hJqfMglwNgB62Ky4qAAAAA==" />
    <add key="/lpc/nct6779d/fan/1/values" value="H4sIAAAAAAAEAPsspdjlFnXbgwEIDmqeYGGAgsefT9dCWAf+/5WKYYKJHzmerAhj7951pA+mZmVNFFyN9sp/cjD2vKeC3DA1S9MR5rxjOgq3qz+2TxCmZss8hJqfMglwNgB62Ky4qAAAAA==" />
    <add key="/lpc/nct6779d/fan/2/values" value="H4sIAAAAAAAEAPsspdjlFnXbgwEIDmqeYGGAgsefT9dCWAf+/5WKYYKJHzmerAhj7951pA+mZmVNFFyN9sp/cjD2vKeC3DA1S9MR5rxjOgq3qz+2TxCmZss8hJqfMglwNgB62Ky4qAAAAA==" />
    <add key="/lpc/nct6779d/fan/3/values" value="H4sIAAAAAAAEAPsspdjlFnXbgwEIDmqeYGGAgsefT9dCWAf+/5WKYYKJHzmerAhjH394pA+mZm5oFFyN9sp/cjD2vKeC3DA1S9MR5rxjOgq3qz+2TxCmZss8hJqfMglwNgC/aNpGqAAAAA==" />
    <add key="/lpc/nct6779d/fan/4/values" value="H4sIAAAAAAAEAPsspdjlFnXbgwEIDmqeYGGAgsefT9dCWAf+/5WKYYKJHzmerAhjH394pA+mZm5oFFyN9sp/cjD2vKeC3DA1S9MR5rxjOgq3qz+2TxCmZss8hJqfMglwNgC/aNpGqAAAAA==" />
    <add key="/lpc/nct6779d/control/0/values" value="H4sIAAAAAAAEAPsspdjlFnXbw9zc3emg5gkWBiAAsV9InallAIMD/398jmaCiR85nqwIYx/mONoHU7NQLwquRnvlPzkY+yuPEDdMjZ9DDFzNO6ajcLu6WvoEYWp2liPU/JRJgLMBHpTQyagAAAA=" />
    <add key="/lpc/nct6779d/control/1/values" value="H4sIAAAAAAAEAPsspdjlFnXb49HDUicO1iQmBiDw8c522qmSBmZ//NDi9MPxTC0DGBz4/+JMNFh8w/qJTiLfIOo1NFqc1IMg7F07a518LiSA2XfvdDhl3E4Gs+fMbnS69C4RzNbVLXTi+ABRv2VLm9PvaAhbTq7Oyd8Gor6utt3pqGgKmF1SXO6UrgtR8+dXmhPTY4j5b1/HOylJQtRMnFjo1CAAURMdVeT0kAfCfvww0ekwx9E+mPsX6kWBxY2Mepz6nkDU9PbUOP2G+v33ryanXUZJcDeXJkHYNjZdTqqhEHZ8fLXTCXcIOy+vwelLBIR9+VKDE3sshN3U1Ob0Pg3CFhGZ5HTMG8JetrTTaXIChO3uVuZ0WzAZHs4ZGyHh8+Z1sZOKiRA3zM3ykjFg8ZMnmpzeQv3Y0V7sxPgJEV9t+/sEYer32kDUA13h9FMmAWpvrhMAj2DBB+wBAAA=" />
    <add key="/lpc/nct6779d/control/2/values" value="H4sIAAAAAAAEAPsspdjlFnXb49HDUicO1iQmBiDw8c522qmSBmZ//NDi9MPxTC0DGBz4/+JMNFh8w/qJTiLfIOo1NFqc1IMg7F07a518LiSA2XfvdDhl3E4Gsy9fanC69C4RzNbVLXTi+ABRv2VLm9PvaAhbTq7Oyd8Gor6utt3pqGgKmF1SXO6UrgtR8+dXmhPTY4j5b1/HOylJQtRMnFjo1CAAURMdVeT0kAfCfvww0emNwdE+mPsr2KLA4kZGPU59TyBqentqnH5D/f77V5PTLiMIe87sRqfSJAjbxqbLSTUUwo6Pr3Y64Q5h5+U1OH2JSIL7kT0Wwm5qanN6nwZhi4hMcjrmDWEvW9rpNDkBwnZ3K3O6LZgMD+eMjZDwefO62EnFRIgb5mZ5yRiw+MkTTU5voX7saC92YvyEiK+2/X2CMPV7bSDqga5w+imTALU31wkARSFtJ+wBAAA=" />
    <add key="/lpc/nct6779d/control/3/values" value="H4sIAAAAAAAEAPsspdjlFnXbw9zc3emg5gkWBiAAsX84nqllAIMD/1+ciWaCiR85nqwIY78xONoHU1PBFgVXo73ynxyMrWIixA1TIy8ZA1fzjuko3K62/X2CMDV7bRBqfsokwNkAC9fxEKgAAAA=" />
    <add key="/lpc/nct6779d/control/4/values" value="H4sIAAAAAAAEAPsspdjlFnXbw9zc3emg5gkWBiAAsX84nqllAIMD/1+ciWaCiR85nqwIY78xONoHU1PBFgVXo73ynxyMrWIixA1TIy8ZA1fzjuko3K62/X2CMDV7bRBqfsokwNkAC9fxEKgAAAA=" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>