<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="608" />
    <add key="mainForm.Location.Y" value="24" />
    <add key="mainForm.Width" value="705" />
    <add key="mainForm.Height" value="960" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/atigpu/0/temperature/0/plot" value="false" />
    <add key="/atigpu/0/temperature/1/plot" value="false" />
    <add key="/atigpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEADvwOuvP0fjbHknPH9hN4BbVYQCDA/8X6KQzglhtbJvsYisymcCiDmz2sYHc3jA1E2dWgNVUPjxsJ+3/24wRKj4nvhzMtEy7aNdz+e4smHqZR7Vgcec1K+0O1aWBzcx7dM/ORzYJzJ7qUWK/ZE0KmH1ezsD+Cj9EvCj6mV3k5WQwW+K2sn3yO4gaA7WXdkKHU8HsGUcb7epWQ9TzKB23CxKBqN/48bGd2R2IXQa7ztjd+Q0Rv6Qw3+7Tj0Qwu+7RT7trtRDxzSZX7USFIOrZCjTtn05LALPTIn/ayb0UE4X5JaUkC+wXOe2zdqbxEL3MU9bY2WZCzNRZy2B//yHEnQyXU+ykL0HUaDKZ2AMASxXcjXQBAAA=" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEADvwOuvP0fjbHiJP9thN4BbVYQCDA/8X6KQzglg3Yo/ZxVZkMoHY866U2ccGcnvD1EycWQFWc/DgGjtp/99mjFDxOfHlYOaniTL2PZfvzoKpl3lUCxY/suud3aG6NLCZr6ZNtfORTQKzr+4IsV+yJgXMvuAcZH+FHyJeqKRgH3k5GcxeF1don/wOoiZI1tFe6HAqmN3w182ubjVE/cXul3ZBIhD1CZMM7M3uQOx64mdgf+c3RDx68Uy7Tz8SwWx3Jk77a7UQcecrM+1EhSDqhSZ72z+dlgBm/7RjtJd7KSYK80tKSRbYL44Jyvam8RC9AQrXbG0zIWY2/Vpre/8hxJ0Hnj22lb4EUXNjv50dAOh/vxt0AQAA" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEADvwOuvP0fjbHleXrbafwC2qwwAGB/4v0ElnBLH6os45xFZkMoHYJdNYHWMDub1haibOrACrubdO11Ha/7cZI1R8Tnw5mKn54a5Dz+W7s2DqZR7VgsXlxEscD9Wlgc28X8bm6CObBGbv7bnusGRNCpgtLPvf4Qo/RPxr90+HyMvJYPYXW2bH5HcQNSeU/zgIHU4Fs+UDxRzrVkPU53kwOgaJQNTfXc7haHYHYpfJvV8Od35DxL9JSTh8+pEIZu86n+JwrRYivihawVFUCKJ+kV6C49NpCWC2Baego9xLMVGYX1JKssB+Wd3wysE0HqLXeTeXo20mxMwfc/kc7z+EuHPKNzZH6UsQNT0fWB0Bg2n+XnQBAAA=" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEADvwOuvP0fjbHtardB0mcIvqMIDBgf8LdNIZQawQw78OsRWZTCA2d6a6Y2wgtzdMzcSZFWA1Na9cHaX9f5sxQsXnxJeDmS6reBx7Lt+dBVMv86gWLG6f0up4qC4NbObHWTKOPrJJYLaXkoDjkjUpYPbf3/KOV/gh4snPxB0jLyeD2Q5Vqo7J7yBqyv5IOwodTgWzz7xSd6xbDVFfJCTpGCQCUZ/HqeJodgdiV0aKhOOd3xDxh7fTHT79SASzf/Usd7hWCxHf/tjMUVQIov7y5kbHp9MSwOxzurqOci/FRGF+SSnJAvtF+b2Ao2k8RO/VG9KOtpkQM22eKDjefwhx53sPcUfpSxA1dYUyjgDDXlvUdAEAAA==" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEADvwOuvP0fjbHs53prlM4BbVYQCDA/8X6KQzgliSd8xdYysymUDs17m/XWIDub1haibOrACryWGQcpX2/23GCBWfE18OZu67ze3ac/nuLJh6mUe1YHGDye6uh+rSwGa6eiq4+sgmgdl9t8Vcl6xJAbN/bBN2vcIPEc+bpOYaeTkZzJZl4HdNfgdRo8Zg7Sp0OBXMfpIb5Vq3GqLez9PHNUgEon67ip2r2R2IXb1A8+/8hoifymVy/fQjEcy+kyvheq0WIl44yd1VVAiivmRSkOvTaQlgNtN2e1e5l2KiML+klGSB/eK2XdjVNB6i9/82TVfbTIiZt3L1XO8/hLhzq4qGq/QliBoVBgNXALmzSJF0AQAA" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAJuelPnnaPxtD+c701x2ThHTYQCDA//vL01lBLHitmu6uk7KYAKx/23TdDXbx+sNU/NRvQysZtskNdfdB/6aMULF318vBTP33eZ2tYy+PwumXjy6BixuMNnd1XVrKthMV08F1+CnSWB2xiQB13O/U8DsH9uEXS2eJ4LZxZNsXJkWJ4PZXUAzPX9A1NzK1XM9eArCfpIb5Rq8E2KOn6eP6+//EPVqDG6ujO8gduVNMnRd9wqinmH7a5cTbyHmf8r97TKDCaK3aJK7q+iSNDA70DPc1bEbomabirHrvnwJUZhfjr/NAPvFbbuwa0MCxK7/wPC5np4Id9vkxxC7soHhU38BokaFwcAVAC8p3at0AQAA" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEANt/O/3P0fjbHs53prlMlJbQYQCDA/8TZFMYQaw7txVdFWamM4HYt3L1XG/ZC3jD1BjdKgGrUcmzdK3i+2/GCBVfngQR33eb27XxwoNZMPUll6rA4gaT3V2/rUsBm+nqqeC6/2kymJ0xScA1VBIi/mObsKvz/UQwO8DT0ZV5AkT8Wq6E65y/KXD33LwI0avHEOP6/GASmO3n6eOaeB+iRo3BzfWpZxqY7eGp7bp/PkQ8b9ILl8+PIeZnTWJ11eKB6NVmCHSVXJQKZusCzVzbCxH39DRz1fomKQrzi2p6OtgvbtuFXWXjIW74v03TVSMzEe62+48hdmVPUnP1uABRo8Jg4AoAeooJe3QBAAA=" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEALsemvbnaPxtD+c701wqF0rqMIDBgf9GPUmMINYET1HX1u1pTCD2lNvmros3CXnD1LClFEPVmLkua2EwZ4SKf71WBGbuu83tahzzaBZMfY5zJVj8IYObq9azZLCZrp4KrvbbUsDsjEkCrnHKEHFZBinXo88SwewAT0fXFV8h4tdyJVxft0HccytXz7XvbhKYrccQ45q3DaLGz9PH9cpdiJkFk9xdqyZC1CsxqLpuiYSIZ0265HLpBsR8N08uV29xiDn+QL2uC1LB7P0qIa5Z/RBxT6Af79ZIi8L80vEgFewXt+3Crv1xEHv/b9N03Z6eCHdb+VOIXdmT1FzXXYCoyZ1k6AoAjtURoXQBAAA=" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEADvwOuvP0fjbHvmqJ50mcIvqMIDBgf8LdNIZQaxgoHhsRSYTiL1bBcgO5PaGqZk4swKs5g9QXNr/txkjVHxOfDmYyQzU23P57iyYeplHtWDxcKD4obo0sJm7gHp9ZJPA7D1A9pI1KWD2DiD7Cj9EfB+QHXk5Ge6G5HcpcL1Ch1PheutWJ8HFg0Qg6ncC2WZ30uBq7vyGiG8Gsj/9SASzjwDZ12qT4WpEhRDqn05LgJsp91JMFOaXlJIssF/UgH4xjYfo3QtUY5uZCHfn/YcpcHOkLyHcDwCza2dtdAEAAA==" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEANt/MeXP0fjbHgwMZk4TVaV1GMDgwP92jURGMLOhzUlzdioTRHyS0yojUW+Ymm23C6FqZjh942EyZ4SK+06AijM0Ot1e9HgWTH3NznKo+ilO2jzJUDNbnX5Mgprf0OB0SzEJLv5RGaamzylsOYzd5rRtehqU3eN0txKmfqbTLpkUuDuV7iPYU2fB3N/txOUPYxc41T1IhLLTnTbxw8xZ7GT8E2bXFKcFZilwNyQyy4rC/PIiMgXuR94oqPqGdqd1aVAzGzqd2F+nwN28/ALMzE4nAIGx+jt0AQAA" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEANt/MeXP0fjbHgwMhk4TVaV1GMDgwP92jURGCLvISXN2KhOEXeG0ykjUG6Zm2+1CiJqGSU7feJjMGaHivhOg4gzFTrcXPZ4FU1+zsxwq3umkzZMMMbOhyenHJJj55U63FJOYYPZ+VIap6XAKWw5lA83cNj0Nyk5zulsJU1/jtEsmBcpudVK6nwJ389RZqXC7uPxhdqU41T1IhLKjnDbxw8xpdDL+CbOryWmBWQrc3kRmWVGYX15EpkD9Uu/EGwVTX+a0Lg1mZoET++sUuL+WX4CpaXACAK2ilfR0AQAA" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEANt/MeXP0fjbHgwM2k4TVaV1GMDgwP92jURGMLOh0UlzdioTRLzOaZWRqDdMzbbbhVA1rU7feJjMGaHivhOg4gy1TrcXPZ4FU1+zsxwqXuKkzZMMNTPF6cckmPlZTrcUk6DsKqePyjA1qU5hy2HsQqdt09Og7GKnu5Uw9Y1Ou2RSoOx0J6X7KXA3T52VChfn8k+F21v3IBHKjnfaxA8zZ5qT8c9kuJkLzKDmNHQ4JTLLisL88iIyBeqXfCfeKJj6Iqd1aTAzC5zYX6fAxZdfgKnJdgIARvgvnXQBAAA=" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEANt/MeXP0fjbHgwM+k4TVaV1GMDgwP92jURGCLvQSXN2KhOEXeG0ykjUG6Zm2+1CqJoWp288TOaMUHHfCTDxIqfbix7Pgqmv2VkOEW+Y5KTNkww388ckmPl5TrcUk6DsHKePyjA1xU5hy2HsSqdt09Og7CSnu5VQ9Q0NTrtkUphg9irdh7FrnabOgplf4sTlD2MnOtU9SISyI5w28cPsTXUy/gm1q6HVaYEZzJxyp0RmWVGYX15EpkD9WObEG5UMd/O6NKiZDY1O7K9T4H5cfgGmptAJAOMrw9p0AQAA" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEANt/MeXP0fjbHgwM5k4TVaV1GMDgwP92jURGCLvCSXN2KhOEXee0ykjUG6Zm2+1CiJqGHqdvPEzmjFBx3wmFcL23Fz2eBVNfs7McKt7lpM2TDDUzx+nHJJj5VU63FJOg7Banj8owNSlOYcth7AynbdPTmGDm3K1MgpuzSyYFyi5xUroPY2c7TZ0FMz/Z6aVDEtzMGbdS4OI7lWHiWU7GP5Ph/l1gBlNT6pTILCsK88uLyBSoX8qdeKNg6mud1qUlQtk1TuyvYXrLnJZfSIaLAwCDARLudAEAAA==" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEANt/MeXP0fjbHjsyNBxKLYV1GMDgwP/FIpmMIFaCd5Oj5uxUJhBbQyzB0a2CyRumRmpaC1hNwO69jqyBX8wYoeJ2PvVgpq56leMt13OzYOprxXrB4tfk2Zy0eZLBZq5/yeX0YxLU/GtXHG8pJoHZDB9eO35UhqgJL77mGLYcwt50Wdtx2/Q0MLtL9orD3UqI+lfHhB13yaSA2f5rpjkq3YewhaNbHKfOgphf4jXH8aUD1PwFBY4zbkHUWDU2Oe5UhoifU1rgaPwTYleyeKfjAjOIGoYNjY57lXlEYX7psSwF+2XdxDuOvFEQ9W/3nXZcl5YIZl9dy+DE/hqi9/dZScflFyBq/HuOOgIApVSCjHQBAAA=" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEANt/MeXP0fjbHh9iexxKLYV1GMDgwP/FIpmMINaeoABHzdmpTCB2QKGRo1sFkzdMjdS0FrAaZ9sIR9bAL2aMUHE7n3ow82/0ccdbrudmwdTXivWCxV/OFHbU5kkGm1nittDxxySI+e9cohxvKSaB2QwGyx0/KkPUfCjTcAxbDmGrH+ty3DY9DcxOWl7heLcSoj5/9nzHXTIpYPZG4ShHpfsQtsNXbsepsyDmd8X2O7x0gKjvKGl3nHELokYg3txxpzJEPMpnraPxT4hdj+YVOi4wg6iJFTF03KvMIwrzS49lKdgvHYrTHXmjIOqFr09wXJeWCGYrnXjvwP4aojdA56rj8gsQNbvfrnMEACI1yft0AQAA" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEANt/MeXP0fjbHseaz9mXWgrrMIDBgf+LRTIZQSwLc3lHzdmpTCB2knmTo1sFkzdMjdS0FrCam98iHVkDv5gxQsXtfOrBzHcfmZxuuZ6bBVNfK9YLFo8o13fS5kkGm/ldaq/jj0kQ8y9x73a8pZgEZnudXu34URmipvSummPYcgjb/swqx23T08DsN0e0HO9WQtSf31HluEsmBczetDnKUek+hH1aaLLj1FkQ8zfLzHd86QBR/+SHquOMWxA1fmtKHXcqQ8SjUvMcjX9C7PqzK9dxgRlEjVictuNeZR5RmF96LEvBfqkyY3HijYKoZyiY4rguLRHM/iAh5cT+GqK3KPWY4/ILEDWbn+Y5AgDgvUJYdAEAAA==" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEANt/MeXP0fjbHh/7IhxLLYV1GMDgwP/jLzIYQawF1Z2OrMdTmUBsk08zHd0qmLxhaqSmtYDVHFvf6sga+MWMESpu51MPZma7Czvdcj03C6a+VqwXLL7BZ42jNk8y2EwGBSPHH5Mg5s/5Eex4SzEJzF65fLfjR2WImhudbxzClkPVJ4Q5bpueBmYfsbvgeLcSop6x4abDLpkUMLujUdpR6T6ELSxt6jh1FsR8tW9nHV46JEHNkXeccQuiRqAqwHGnMkS8S13A0fgnxC438WTHBWYQNUIsoY57lXlEYX7psSwF+8Wu8pIjbxREvetxLcd1aYlg9hK2dkf21xC92dvOOC6/AFFzZnWqIwBskrIsdAEAAA==" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEANt/MeXP0fjbHl4hGx1KLYV1GMDgwP/FIpmMINbfo4mOmrNTmUDsFduKHN0qmLxhaqSmtYDVeCi2O7IGfjFjhIrb+dSDmZMs7jjecj03C6a+VqwXLP4/8IajNk8y2EyTwM2OPyZBzNc/MNPxlmISmL1vyT7Hj8oQNf/nxziGLYewFcKqHbdNTwOz1eqyHe9WQtQvmuvnuEsmBcxOzoh3VLoPYbP/jnacOgtiPlecp+NLB4j6WotAxxm3IGp+LExw3KkMEU/TbXY0/gmx64d6qeMCM4ia+aa+jnuVeURhfumxLAX7JWrZZUfeKIj6jFkTHdelJYLZfYr7HNlfQ/Se9l7ruPwCRM2mDdMdASmvd0h0AQAA" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="375" />
    <add key="treeView.Columns.Value.Width" value="150" />
    <add key="treeView.Columns.Min.Width" value="150" />
    <add key="treeView.Columns.Max.Width" value="150" />
    <add key="listenerPort" value="8085" />
    <add key="/lpc/nct6779d/control/0/plot" value="false" />
    <add key="/lpc/nct6779d/control/1/plot" value="false" />
    <add key="/lpc/nct6779d/control/2/plot" value="false" />
    <add key="/lpc/nct6779d/control/3/plot" value="false" />
    <add key="/lpc/nct6779d/control/4/plot" value="false" />
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/load/7/plot" value="false" />
    <add key="/amdcpu/0/load/8/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/power/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/amdcpu/0/power/2/plot" value="false" />
    <add key="/amdcpu/0/power/3/plot" value="false" />
    <add key="/amdcpu/0/power/4/plot" value="false" />
    <add key="/amdcpu/0/power/5/plot" value="false" />
    <add key="/amdcpu/0/power/6/plot" value="false" />
    <add key="/amdcpu/0/power/7/plot" value="false" />
    <add key="/amdcpu/0/power/8/plot" value="false" />
    <add key="/amdcpu/0/power/9/plot" value="false" />
    <add key="/atigpu/0/temperature/3/plot" value="false" />
    <add key="/atigpu/0/temperature/7/plot" value="false" />
    <add key="/atigpu/0/temperature/8/plot" value="false" />
    <add key="/atigpu/0/temperature/9/plot" value="false" />
    <add key="/atigpu/0/power/0/plot" value="false" />
    <add key="/atigpu/0/clock/0/plot" value="false" />
    <add key="/atigpu/0/clock/1/plot" value="false" />
    <add key="/atigpu/0/voltage/0/plot" value="false" />
    <add key="/atigpu/0/load/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/2/temperature/0/plot" value="false" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/0/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/1/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/2/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/3/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/4/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/5/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/6/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/7/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/10/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/11/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/12/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/13/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/14/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/1/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/2/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/3/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/4/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/5/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/6/plot" value="false" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/temperature/4/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/clock/6/plot" value="false" />
    <add key="/amdcpu/0/clock/7/plot" value="false" />
    <add key="/amdcpu/0/clock/8/plot" value="false" />
    <add key="/amdcpu/0/power/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEAJPZvnH2mrTbHgwMB/4DAE19hc4MAAAA" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEAFM+vXH2mrTbHgwMB/4DAAwUAFwMAAAA" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEAOM8cX72mrTbHgwMB/4DAL/0ZN8MAAAA" />
    <add key="/hdd/2/temperature/0/values" value="H4sIAAAAAAAEALsSZDhnTdptDwaGA/8BjrgrTAwAAAA=" />
    <add key="/hdd/2/load/0/values" value="H4sIAAAAAAAEALsSZDhnTdptDwaGA/8BjrgrTAwAAAA=" />
    <add key="/atigpu/0/temperature/0/values" value="H4sIAAAAAAAEAJtwtmX2mrTbHgwMB/47va1iZAACRgYTJ3GnFCYYu2h9IpRt7PTzAkJcrSYBLn59QTJc/OKNJDgbAMV9IiBgAAAA" />
    <add key="/atigpu/0/temperature/1/values" value="H4sIAAAAAAAEAJtwtmX2mrTbHgwMB/47va1iZAACRgYTJ3GnFCYYu2h9IpRt7PTzAkJcrSYBLn59QTJc/OKNJDgbAMV9IiBgAAAA" />
    <add key="/atigpu/0/temperature/2/values" value="H4sIAAAAAAAEAJtwtmX2mrTbHgwMB/47va1iZAACRgYTJ3GnFCYYu2h9IpRt7PTzAkJcrSYBLn59QTJc/OKNJDgbAMV9IiBgAAAA" />
    <add key="/atigpu/0/temperature/3/values" value="H4sIAAAAAAAEAGv40jJ7TdptDwaGA//T31YxMgABI4OJE5N0ChOMXbQ+Eco2dvp5ASGuVpMAF7++IBkufvFGEpwNAPYpj+NgAAAA" />
    <add key="/atigpu/0/temperature/4/values" value="" />
    <add key="/atigpu/0/temperature/5/values" value="" />
    <add key="/atigpu/0/temperature/6/values" value="" />
    <add key="/atigpu/0/temperature/7/values" value="H4sIAAAAAAAEALvu1Dp7TdptDwaGA/8F5lcxMgABI4OJE5N0ChOMXbQ+Eco2dvp5ASGuVpMAF7++IBkufvFGEpwNAFzLpQ9gAAAA" />
    <add key="/atigpu/0/temperature/8/values" value="H4sIAAAAAAAEALvu1Dp7TdptDwaGA/8F5lcxMgABI4OJE5N0ChOMXbQ+Eco2dvp5ASGuVpMAF7++IBkufvFGEpwNAFzLpQ9gAAAA" />
    <add key="/atigpu/0/temperature/9/values" value="H4sIAAAAAAAEALvu1Dp7TdptDwaGA/8F5lcxMgABI4OJE5N0ChOMXbQ+Eco2dvp5ASGuVpMAF7++IBkufvFGEpwNAFzLpQ9gAAAA" />
    <add key="/atigpu/0/power/0/values" value="H4sIAAAAAAAEALvu1Dp7TdptDwaGA//1jlUxMgBBWxuf45PPyUwgtoE+v2PR+kQwu6eb3fHnhRQw+8hhdkeLxQlgdk42u+PRSoj6hnp2x4s3ksBsJkZORwAPpAlvYAAAAA==" />
    <add key="/atigpu/0/power/1/values" value="" />
    <add key="/atigpu/0/power/2/values" value="" />
    <add key="/atigpu/0/power/3/values" value="" />
    <add key="/atigpu/0/power/4/values" value="" />
    <add key="/atigpu/0/fan/0/values" value="" />
    <add key="/atigpu/0/clock/0/values" value="H4sIAAAAAAAEADud2Tp7TdptDwaGA/+tjlUxMgBB/6Zo55+fk5lAbM2eMOem9YlgNgNDmLPA8W5OGBsAEsAkJDwAAAA=" />
    <add key="/atigpu/0/clock/1/values" value="H4sIAAAAAAAEADud2Tp7TdptDwaGA/+tjlUxMoDAgVsu3VmBfDA2AJw7vjokAAAA" />
    <add key="/atigpu/0/clock/2/values" value="" />
    <add key="/atigpu/0/voltage/0/values" value="H4sIAAAAAAAEADud2Tp7TdptDwaGA/+tjlUxMgABI0OCfXdWIB+MDQCCjOtHJAAAAA==" />
    <add key="/atigpu/0/voltage/1/values" value="" />
    <add key="/atigpu/0/voltage/2/values" value="" />
    <add key="/atigpu/0/load/0/values" value="H4sIAAAAAAAEADud2Tp7TdptDwaGA/+tjlUxMoDBC8efn5OZGKCgaX0ilL3H8fmFFCj7h4NqTQJcDUvVMRYYGwCDee/WVAAAAA==" />
    <add key="/atigpu/0/load/1/values" value="" />
    <add key="/atigpu/0/control/0/values" value="" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEANvaWzN7TdptDwaGA//FzkszMQBBrdYfx/rlyWD2z7A/js83JIHZ3Vo/HFvnJYDZdcu/Oy7xh4gf7PnuKFmWCmbbN393XMoG0Ssa/d0RADv4fmFgAAAA" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEANvaWzN7TdptDwaGA//FzkszMQDBsy0LHOqXJ4PZDhcXODzfkARmh2jMc2idlwBmX7gy12GJP0T82OG5DpJlqWD2tr1zHZayQfTKLZnrAADAIoCxYAAAAA==" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAPu7pWb2mrTbHgwMB/6fWy7NxAAEUyfqOdYvTwazM5r1HJ9vSAKz713Xd2ydlwBmL2A0cFziDxFX5TJwlCxLBbN1eQ0cl7JB9P6UNHAEAEW2tipgAAAA" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEADuXWDp7TdptDwaGA/9vX1ZiYgACLu8eu+zlyWA2Q4OSPefGJAibYZpd7bwEMLtBY7fdSn+I+IlNi+xEy1Lhag7oQvSamTfbAwAPSvdkYAAAAA==" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEAHvZUTp7TdptDwaGA/8PrFFiYgCChEWcdtnLk8FsBgYPO86NSVA2A4N1igY7jH1AF6LmUkyuAwAAFcBbSAAAAA==" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEAPt3rXT2mrTbHgwMB/6vjlNiYoCC7OXJcDbnxiQo+4Rd7bwEuPi+o8dZYOwDujD1v+wBCvUdg1QAAAA=" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEAPt3rXT2mrTbHgwMB/6vjlNiYoCC/FeBfDA2AKfQXFokAAAA" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEAPt3rXT2mrTbHgwMB/6vjlNiYoCC9XveccPYB3SToeIedgAPb9BxMAAAAA==" />
    <add key="/amdcpu/0/load/5/values" value="H4sIAAAAAAAEAOP5Vzp7TdptDwaGA//nmisxMYCBh1328mQ4m3NjEpS93r52XgKY7ffmiN1Kf4S4aFkqlH3C7oAuTG+VPQAKvFHMYAAAAA==" />
    <add key="/amdcpu/0/load/6/values" value="H4sIAAAAAAAEAOP5Vzp7TdptDwaGA//nmisxMQCB589N9tnLk8FsBgZ9B86NSVD2CbvaeQlgdoPLA/uV/jBxMXvRslQo+6H9AV2YXg97ALF+t/hgAAAA" />
    <add key="/amdcpu/0/load/7/values" value="H4sIAAAAAAAEABNRLZu9Ju22BwPDgf9TBZSYGIAgYVGnXfbyZDCbgeGhPefGJCibgaF2XgKY7cAmZr/SHyLuMO2knWhZKlSNh90BXZjeE3YAodWrZmAAAAA=" />
    <add key="/amdcpu/0/load/8/values" value="H4sIAAAAAAAEABNRLZu9Ju22BwPDgf9TBZSYGMDAw64k4hgLjF07LwEsPqHYz26lfxJcjWhZKpQN1K2bDBcHAOXkmE5UAAAA" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEALuWVTV7TdptDwaGA/8vn5JlYgABBS+n7OXJULaTE+fGJAh7gZXTzKMJEPYDS6deDaj4Axcn0bJUCLvB3OmALlTvAUsnAGO7CPFgAAAA" />
    <add key="/amdcpu/0/temperature/2/values" value="" />
    <add key="/amdcpu/0/temperature/3/values" value="" />
    <add key="/amdcpu/0/temperature/4/values" value="H4sIAAAAAAAEALuWVTV7TdptDwaGA/8vn5JlYgADd6fs5ckQ9gE7J86NSRB2g5bTzKMJELaDnlOvBlTcQd9JtCwVql7P6YAuVG+DjRMADAFYiWAAAAA=" />
    <add key="/amdcpu/0/temperature/5/values" value="" />
    <add key="/amdcpu/0/temperature/6/values" value="" />
    <add key="/amdcpu/0/temperature/7/values" value="" />
    <add key="/amdcpu/0/temperature/8/values" value="" />
    <add key="/amdcpu/0/temperature/9/values" value="" />
    <add key="/amdcpu/0/temperature/10/values" value="" />
    <add key="/amdcpu/0/temperature/11/values" value="" />
    <add key="/amdcpu/0/power/0/values" value="H4sIAAAAAAAEAPs0sWr2mrTbHgwMB/5vXyzLxAAE62Z9ccxengxms9z84si5MQnMPql93HHm0QQw2/TMPscl/hBxnpc7HP/5pYLZ9sHHHQ/oQvT2lH13BADNfxubYAAAAA==" />
    <add key="/amdcpu/0/power/1/values" value="H4sIAAAAAAAEAPu5o2r2mrTbHgwMB/5fWizLxAAEeu4KjvXLk8Fs+Rp1x+cbksDseqlOh9Z5CWA237M4hyX+EPEPCzQdJMtSweybZ6c7LGWD6K3iMXAEAG6y1/pgAAAA" />
    <add key="/amdcpu/0/clock/0/values" value="" />
    <add key="/amdcpu/0/power/2/values" value="H4sIAAAAAAAEAGN5UDV7TdptDwaGA/+XhsoyMQDBNbdA++zlyWB2+1UPe86NSWD2T942u5lHE8DsB/7Vtkv8IeLfJERtJctSwWy3qJl2S9kgeldw7rcHAF8g/6dgAAAA" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEAGN5UDV7TdptDwaGA/+XhsoyMQBB7aoG1+zlyWD2uS8Frpwbk8DsHUcyXGceTQCzF01JcF3inwRXI1mWCmcvZYPofaJS6QoATt80a2AAAAA=" />
    <add key="/amdcpu/0/power/3/values" value="H4sIAAAAAAAEABNkr569Ju22BwPDgf8z9GSZGIDgJKe3/cJzyWD2O1tn+8udSWD2GRZOu5lHE8BsrSdltkv8IeLzNsrbSpalgtluOkW2S9kgeqfFpNkDALcySepgAAAA" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEABNkr569Ju22BwPDgf8z9GSZGICgdlWD68JzyWD2uS8Frpc7k8DsHUcyXGceTQCz7z2Ldl3iDxH/IpbiKlmWCmcvZYPo5XLPcQUA4LW9s2AAAAA=" />
    <add key="/amdcpu/0/power/4/values" value="H4sIAAAAAAAEANPRq569Ju22BwPDgf/z9WSZGIDgUXKhXf3yZDC7fJGi/fMNSWA2f+hRm9Z5CWB2Qts1myX+EPFFczfaSJalgtlp93bYLGWD6DVbLmkPAE7GuuhgAAAA" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEANPRq569Ju22BwPDgf/z9WSZGIDAbWa6a/3yZDD73JcC1+cbksDsHUcyXFvnJYDZ955Fuy7xh4hzu+e4SpalgtnSluGuS9kgermA4gDPP7EaYAAAAA==" />
    <add key="/amdcpu/0/power/5/values" value="H4sIAAAAAAAEADMNrZ69Ju22BwPDgf/T2GWZGIAg1CLOvn55MpgdOyPR/vmGJDDbyuCzbeu8BDDbibfRdok/RHy1oIqtZFkqmL3j3xzbpWwQvU58dvYAoUxjEmAAAAA=" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEADMNrZ69Ju22BwPDgf/T2GWZGICgdlWDa/3yZDD73JcC1+cbksDsL2Iprq3zEsDse8+iXZf4Q8QNM+NdJctS4WqWskH0crnnuAIApaaHuGAAAAA=" />
    <add key="/amdcpu/0/power/6/values" value="H4sIAAAAAAAEAMuqqZ69Ju22BwPDgf+JD2SYGIDAz0jQoX55MphdNFfU4fmGJDA77PUS+9Z5CWD2q64W+yX+EPFzuUX2kmWpYPZX1wP2S9kgegXnSzgAABdES/ZgAAAA" />
    <add key="/amdcpu/0/clock/5/values" value="H4sIAAAAAAAEAMuqqZ69Ju22BwPDgf+JD2SYGICgdlWDa/3yZDD7iUql6/MNSXB267wEuJol/klwtmRZKlzNUjaEXgA6oLa6YAAAAA==" />
    <add key="/amdcpu/0/power/7/values" value="H4sIAAAAAAAEAOteXD17TdptDwaGA/8ddsowMQDBjj4Zh/rlyWD25iP8Ds83JIHZXu877VvnJYDZ7upN9kv8IeKsgXr2kmWpYLY66zL7pWwQvcvEZBwA1OmhX2AAAAA=" />
    <add key="/amdcpu/0/clock/6/values" value="H4sIAAAAAAAEAOteXD17TdptDwaGA/8ddsowMQBB7aoG1/rlyWD2E5VK1+cbkuDs1nkJcDVL/JPgbMmyVLiapWwIvQAG3K4CYAAAAA==" />
    <add key="/amdcpu/0/power/8/values" value="H4sIAAAAAAAEAEs7VT17TdptDwaGA/9TJ8kwMQDBn96d9vXLk8HsKb6n7Z9vSAKztdgt7VvnJYDZ31s17Zf4Q8RTFT/YSZalgtlqusH2S9kgen2qNtoDAH0w8ydgAAAA" />
    <add key="/amdcpu/0/clock/7/values" value="H4sIAAAAAAAEAEs7VT17TdptDwaGA/9TJ8kwMQBB7aoG19ff1Nhh7CX+SWBxhfISV8myVDD7iUql61K2ZDgbALBsR8pIAAAA" />
    <add key="/amdcpu/0/power/9/values" value="H4sIAAAAAAAEACv6WD17TdptDwaGA/8js2WYGIAgb8dE+/rlyWD2J/V59s83JIHZW+w07FvnJYDZh7fw2S/xh4gLGV+1kyxLBbN3lWjaL2WD6M3LbrcHAJqCB7hgAAAA" />
    <add key="/amdcpu/0/clock/8/values" value="H4sIAAAAAAAEACv6WD17TdptDwaGA/8js2WYGICgdlWD6+tvauww9hL/JLC4QnmJq2RZKpj9RKXSdSlbMpwNALkDdUdIAAAA" />
    <add key="/lpc/nct6779d/voltage/0/values" value="H4sIAAAAAAAEAEv1sZ69Ju22BwPDgf8uL2OYGICArVHUPnt5MphdOlnCnnNjEpj9wJ/XvnZeApi925PHfqU/RPz0QlZ70bJUMPtRlYj9FjaI3vXuivYAlnztl2AAAAA=" />
    <add key="/lpc/nct6779d/voltage/1/values" value="H4sIAAAAAAAEAEv1sZ69Ju22BwPDgf8uL2OYGIDg2YVF9smHA/lgbABzl01UJAAAAA==" />
    <add key="/lpc/nct6779d/voltage/2/values" value="H4sIAAAAAAAEAEv1sZ69Ju22BwPDgf8uL2OYGIDAjivcIflwIB+MDQCNh1+uJAAAAA==" />
    <add key="/lpc/nct6779d/voltage/3/values" value="H4sIAAAAAAAEAEv1sZ69Ju22BwPDgf8uL2OYGIDAjivcIflwIB+MDQCNh1+uJAAAAA==" />
    <add key="/lpc/nct6779d/voltage/4/values" value="H4sIAAAAAAAEAEv1sZ69Ju22BwPDgf8uL2OYGIBAvvW1ffLhQD4YGwBy1P7oJAAAAA==" />
    <add key="/lpc/nct6779d/voltage/5/values" value="H4sIAAAAAAAEAEv1sZ69Ju22BwPDgf8uL2OYGIAgX6jZPvlwIB+MDQDceb8nJAAAAA==" />
    <add key="/lpc/nct6779d/voltage/6/values" value="H4sIAAAAAAAEAEv1sZ69Ju22BwPDgf8uL2OYGIBg1syZ9smHA/lgbAC6on4WJAAAAA==" />
    <add key="/lpc/nct6779d/voltage/7/values" value="H4sIAAAAAAAEAEv1sZ69Ju22BwPDgf8uL2OYGIBgrUyUQ/LhQD4YGwA2NN/uJAAAAA==" />
    <add key="/lpc/nct6779d/voltage/8/values" value="" />
    <add key="/lpc/nct6779d/voltage/9/values" value="" />
    <add key="/lpc/nct6779d/voltage/10/values" value="H4sIAAAAAAAEAGsotp69Ju22BwPDgf+ah2KYGIBg89x8+5KIYywwdu28BLD4Qql8+5X+SXA1J2tOwNUAACWoNWdIAAAA" />
    <add key="/lpc/nct6779d/voltage/11/values" value="H4sIAAAAAAAEAGsotp69Ju22BwPDgf+ah2KYGIBA3bDDPvlwIB+MDQDHW2lEJAAAAA==" />
    <add key="/lpc/nct6779d/voltage/12/values" value="H4sIAAAAAAAEAGsotp69Ju22BwPDgf+ah2KYGIDAjuu6ffLhQD4YGwA8QPUkJAAAAA==" />
    <add key="/lpc/nct6779d/voltage/13/values" value="H4sIAAAAAAAEAGsotp69Ju22BwPDgf+ah2KYGICA+/piu+TDgXwwNgADeQHDJAAAAA==" />
    <add key="/lpc/nct6779d/voltage/14/values" value="H4sIAAAAAAAEAGsotp69Ju22BwPDgf+ah2KYGIBgY9EL++TDgXwwNgAimXN1JAAAAA==" />
    <add key="/lpc/nct6779d/temperature/0/values" value="" />
    <add key="/lpc/nct6779d/temperature/1/values" value="H4sIAAAAAAAEAGuaZT17TdptDwaGA//VZ8cwMYCBhNMst05OGFu0LBUi3iDmtIUtGc4GAJsAues8AAAA" />
    <add key="/lpc/nct6779d/temperature/2/values" value="H4sIAAAAAAAEAGuaZT17TdptDwaGA//VZ8cwMYABi1Py4UA+GBsAg/RHTiQAAAA=" />
    <add key="/lpc/nct6779d/temperature/3/values" value="H4sIAAAAAAAEAGuaZT17TdptDwaGA//VZ8cwMYBBgWPy4UA+GBsAW0kU0iQAAAA=" />
    <add key="/lpc/nct6779d/temperature/4/values" value="H4sIAAAAAAAEAGuaZT17TdptDwaGA//VZ8cwMYDBB8fkw4F8MDYA8j7kaiQAAAA=" />
    <add key="/lpc/nct6779d/temperature/5/values" value="H4sIAAAAAAAEAGuaZT17TdptDwaGA//VZ8cwMYDBDsfs5clQ9hZHzo1JUPY2x9p5CXA1+44eZ4Gxt7Alw9UAAI7OEMtUAAAA" />
    <add key="/lpc/nct6779d/temperature/6/values" value="H4sIAAAAAAAEAJt+0Hr2mrTbHgwMB/4LlcQwMYDBsYPZy5Oh7BMHOTcmwdm18xKg7EMHV/ojxE/WnGCBsQH8ylyfVAAAAA==" />
    <add key="/lpc/nct6779d/fan/0/values" value="H4sIAAAAAAAEAJt+0Hr2mrTbHgwMB/4LlcQwMUBB8uFAPhgbANseNMMkAAAA" />
    <add key="/lpc/nct6779d/fan/1/values" value="H4sIAAAAAAAEAJt+0Hr2mrTbHgwMB/4LlcQwMUBB8uFAPhgbANseNMMkAAAA" />
    <add key="/lpc/nct6779d/fan/2/values" value="H4sIAAAAAAAEAJt+0Hr2mrTbHgwMB/4LlcQwMUBB8uFAPhgbANseNMMkAAAA" />
    <add key="/lpc/nct6779d/fan/3/values" value="H4sIAAAAAAAEAJt+0Hr2mrTbHgwMB/4LlcQwMUBB8uFAPhgbANseNMMkAAAA" />
    <add key="/lpc/nct6779d/fan/4/values" value="H4sIAAAAAAAEAJt+0Hr2mrTbHgwMB/4LlcQwMUBB8uFAPhgbANseNMMkAAAA" />
    <add key="/lpc/nct6779d/control/0/values" value="H4sIAAAAAAAEAJv7wnr2mrTbHgwMB/7z+MYwMQCBubm7U/LhQD4YGwDPrP2UJAAAAA==" />
    <add key="/lpc/nct6779d/control/1/values" value="H4sIAAAAAAAEADtkZjN7TdptDwaGA/+f/4tmYgCC+Phqp+zlyWC2rm6hE+fGJDA7LDTTqXZeApj9+1ea00p/iLikZKmTaFkqmG1rk+K0hQ2it6Q42QkAjKeZr2AAAAA=" />
    <add key="/lpc/nct6779d/control/2/values" value="H4sIAAAAAAAEADtkZjN7TdptDwaGA/+f/4tmYgCC+Phqp+zlyWC2rm6hE+fGJDA7LDTTqXZeApj9+1ea00p/iLikZKmTaFkqmG1rk+K0hQ2it6Q42QkAjKeZr2AAAAA=" />
    <add key="/lpc/nct6779d/control/3/values" value="H4sIAAAAAAAEADtkZjN7TdptDwaGA/+f/4tmYgACc3N3p+TDgXwwNgCVFeouJAAAAA==" />
    <add key="/lpc/nct6779d/control/4/values" value="H4sIAAAAAAAEADtkZjN7TdptDwaGA/+f/4tmYgACc3N3p+TDgXwwNgCVFeouJAAAAA==" />
  </appSettings>
</configuration>