<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="608" />
    <add key="mainForm.Location.Y" value="24" />
    <add key="mainForm.Width" value="705" />
    <add key="mainForm.Height" value="960" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/atigpu/0/temperature/0/plot" value="false" />
    <add key="/atigpu/0/temperature/1/plot" value="false" />
    <add key="/atigpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEADvwOuvP0fjbHknPH9hN4BbVYQCDA/8X6KQzglhtbJvsYisymcCiDmz2sYHc3jA1E2dWgNVUPjxsJ+3/24wRKj4nvhzMtEy7aNdz+e4smHqZR7Vgcec1K+0O1aWBzcx7dM/ORzYJzJ7qUWK/ZE0KmH1ezsD+Cj9EvCj6mV3k5WQwW+K2sn3yO4gaA7WXdkKHU8HsGUcb7epWQ9TzKB23CxKBqN/48bGd2R2IXQa7ztjd+Q0Rv6Qw3+7Tj0Qwu+7RT7trtRDxzSZX7USFIOrZCjTtn05LALPTIn/ayb0UE4X5JaUkC+wXOe2zdqbxEL3MU9bY2WZCzNRZy2B//yHEnQyXU+ykL0HUaDKZ2AMASxXcjXQBAAA=" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEADvwOuvP0fjbHiJP9thN4BbVYQCDA/8X6KQzglg3Yo/ZxVZkMoHY866U2ccGcnvD1EycWQFWc/DgGjtp/99mjFDxOfHlYOaniTL2PZfvzoKpl3lUCxY/suud3aG6NLCZr6ZNtfORTQKzr+4IsV+yJgXMvuAcZH+FHyJeqKRgH3k5GcxeF1don/wOoiZI1tFe6HAqmN3w182ubjVE/cXul3ZBIhD1CZMM7M3uQOx64mdgf+c3RDx68Uy7Tz8SwWx3Jk77a7UQcecrM+1EhSDqhSZ72z+dlgBm/7RjtJd7KSYK80tKSRbYL44Jyvam8RC9AQrXbG0zIWY2/Vpre/8hxJ0Hnj22lb4EUXNjv50dAOh/vxt0AQAA" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEADvwOuvP0fjbHleXrbafwC2qwwAGB/4v0ElnBLH6os45xFZkMoHYJdNYHWMDub1haibOrACrubdO11Ha/7cZI1R8Tnw5mKn54a5Dz+W7s2DqZR7VgsXlxEscD9Wlgc28X8bm6CObBGbv7bnusGRNCpgtLPvf4Qo/RPxr90+HyMvJYPYXW2bH5HcQNSeU/zgIHU4Fs+UDxRzrVkPU53kwOgaJQNTfXc7haHYHYpfJvV8Od35DxL9JSTh8+pEIZu86n+JwrRYivihawVFUCKJ+kV6C49NpCWC2Baego9xLMVGYX1JKssB+Wd3wysE0HqLXeTeXo20mxMwfc/kc7z+EuHPKNzZH6UsQNT0fWB0Bg2n+XnQBAAA=" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEADvwOuvP0fjbHtardB0mcIvqMIDBgf8LdNIZQawQw78OsRWZTCA2d6a6Y2wgtzdMzcSZFWA1Na9cHaX9f5sxQsXnxJeDmS6reBx7Lt+dBVMv86gWLG6f0up4qC4NbObHWTKOPrJJYLaXkoDjkjUpYPbf3/KOV/gh4snPxB0jLyeD2Q5Vqo7J7yBqyv5IOwodTgWzz7xSd6xbDVFfJCTpGCQCUZ/HqeJodgdiV0aKhOOd3xDxh7fTHT79SASzf/Usd7hWCxHf/tjMUVQIov7y5kbHp9MSwOxzurqOci/FRGF+SSnJAvtF+b2Ao2k8RO/VG9KOtpkQM22eKDjefwhx53sPcUfpSxA1dYUyjgDDXlvUdAEAAA==" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEADvwOuvP0fjbHs53prlM4BbVYQCDA/8X6KQzgliSd8xdYysymUDs17m/XWIDub1haibOrACryWGQcpX2/23GCBWfE18OZu67ze3ac/nuLJh6mUe1YHGDye6uh+rSwGa6eiq4+sgmgdl9t8Vcl6xJAbN/bBN2vcIPEc+bpOYaeTkZzJZl4HdNfgdRo8Zg7Sp0OBXMfpIb5Vq3GqLez9PHNUgEon67ip2r2R2IXb1A8+/8hoifymVy/fQjEcy+kyvheq0WIl44yd1VVAiivmRSkOvTaQlgNtN2e1e5l2KiML+klGSB/eK2XdjVNB6i9/82TVfbTIiZt3L1XO8/hLhzq4qGq/QliBoVBgNXALmzSJF0AQAA" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAJuelPnnaPxtD+c701x2ThHTYQCDA//vL01lBLHitmu6uk7KYAKx/23TdDXbx+sNU/NRvQysZtskNdfdB/6aMULF318vBTP33eZ2tYy+PwumXjy6BixuMNnd1XVrKthMV08F1+CnSWB2xiQB13O/U8DsH9uEXS2eJ4LZxZNsXJkWJ4PZXUAzPX9A1NzK1XM9eArCfpIb5Rq8E2KOn6eP6+//EPVqDG6ujO8gduVNMnRd9wqinmH7a5cTbyHmf8r97TKDCaK3aJK7q+iSNDA70DPc1bEbomabirHrvnwJUZhfjr/NAPvFbbuwa0MCxK7/wPC5np4Id9vkxxC7soHhU38BokaFwcAVAC8p3at0AQAA" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEANt/O/3P0fjbHs53prlMlJbQYQCDA/8TZFMYQaw7txVdFWamM4HYt3L1XG/ZC3jD1BjdKgGrUcmzdK3i+2/GCBVfngQR33eb27XxwoNZMPUll6rA4gaT3V2/rUsBm+nqqeC6/2kymJ0xScA1VBIi/mObsKvz/UQwO8DT0ZV5AkT8Wq6E65y/KXD33LwI0avHEOP6/GASmO3n6eOaeB+iRo3BzfWpZxqY7eGp7bp/PkQ8b9ILl8+PIeZnTWJ11eKB6NVmCHSVXJQKZusCzVzbCxH39DRz1fomKQrzi2p6OtgvbtuFXWXjIW74v03TVSMzEe62+48hdmVPUnP1uABRo8Jg4AoAeooJe3QBAAA=" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEALsemvbnaPxtD+c701wqF0rqMIDBgf9GPUmMINYET1HX1u1pTCD2lNvmros3CXnD1LClFEPVmLkua2EwZ4SKf71WBGbuu83tahzzaBZMfY5zJVj8IYObq9azZLCZrp4KrvbbUsDsjEkCrnHKEHFZBinXo88SwewAT0fXFV8h4tdyJVxft0HccytXz7XvbhKYrccQ45q3DaLGz9PH9cpdiJkFk9xdqyZC1CsxqLpuiYSIZ0265HLpBsR8N08uV29xiDn+QL2uC1LB7P0qIa5Z/RBxT6Af79ZIi8L80vEgFewXt+3Crv1xEHv/b9N03Z6eCHdb+VOIXdmT1FzXXYCoyZ1k6AoAjtURoXQBAAA=" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEADvwOuvP0fjbHvmqJ50mcIvqMIDBgf8LdNIZQaxgoHhsRSYTiL1bBcgO5PaGqZk4swKs5g9QXNr/txkjVHxOfDmYyQzU23P57iyYeplHtWDxcKD4obo0sJm7gHp9ZJPA7D1A9pI1KWD2DiD7Cj9EfB+QHXk5Ge6G5HcpcL1Ch1PheutWJ8HFg0Qg6ncC2WZ30uBq7vyGiG8Gsj/9SASzjwDZ12qT4WpEhRDqn05LgJsp91JMFOaXlJIssF/UgH4xjYfo3QtUY5uZCHfn/YcpcHOkLyHcDwCza2dtdAEAAA==" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEANt/MeXP0fjbHgwMZk4TVaV1GMDgwP92jURGMLOhzUlzdioTRHyS0yojUW+Ymm23C6FqZjh942EyZ4SK+06AijM0Ot1e9HgWTH3NznKo+ilO2jzJUDNbnX5Mgprf0OB0SzEJLv5RGaamzylsOYzd5rRtehqU3eN0txKmfqbTLpkUuDuV7iPYU2fB3N/txOUPYxc41T1IhLLTnTbxw8xZ7GT8E2bXFKcFZilwNyQyy4rC/PIiMgXuR94oqPqGdqd1aVAzGzqd2F+nwN28/ALMzE4nAIGx+jt0AQAA" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEANt/MeXP0fjbHgwMhk4TVaV1GMDgwP92jURGCLvISXN2KhOEXeG0ykjUG6Zm2+1CiJqGSU7feJjMGaHivhOg4gzFTrcXPZ4FU1+zsxwq3umkzZMMMbOhyenHJJj55U63FJOYYPZ+VIap6XAKWw5lA83cNj0Nyk5zulsJU1/jtEsmBcpudVK6nwJ389RZqXC7uPxhdqU41T1IhLKjnDbxw8xpdDL+CbOryWmBWQrc3kRmWVGYX15EpkD9Uu/EGwVTX+a0Lg1mZoET++sUuL+WX4CpaXACAK2ilfR0AQAA" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEANt/MeXP0fjbHgwM2k4TVaV1GMDgwP92jURGMLOh0UlzdioTRLzOaZWRqDdMzbbbhVA1rU7feJjMGaHivhOg4gy1TrcXPZ4FU1+zsxwqXuKkzZMMNTPF6cckmPlZTrcUk6DsKqePyjA1qU5hy2HsQqdt09Og7GKnu5Uw9Y1Ou2RSoOx0J6X7KXA3T52VChfn8k+F21v3IBHKjnfaxA8zZ5qT8c9kuJkLzKDmNHQ4JTLLisL88iIyBeqXfCfeKJj6Iqd1aTAzC5zYX6fAxZdfgKnJdgIARvgvnXQBAAA=" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEANt/MeXP0fjbHgwM+k4TVaV1GMDgwP92jURGCLvQSXN2KhOEXeG0ykjUG6Zm2+1CqJoWp288TOaMUHHfCTDxIqfbix7Pgqmv2VkOEW+Y5KTNkww388ckmPl5TrcUk6DsHKePyjA1xU5hy2HsSqdt09Og7CSnu5VQ9Q0NTrtkUphg9irdh7FrnabOgplf4sTlD2MnOtU9SISyI5w28cPsTXUy/gm1q6HVaYEZzJxyp0RmWVGYX15EpkD9WObEG5UMd/O6NKiZDY1O7K9T4H5cfgGmptAJAOMrw9p0AQAA" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEANt/MeXP0fjbHgwM5k4TVaV1GMDgwP92jURGCLvCSXN2KhOEXee0ykjUG6Zm2+1CiJqGHqdvPEzmjFBx3wmFcL23Fz2eBVNfs7McKt7lpM2TDDUzx+nHJJj5VU63FJOg7Banj8owNSlOYcth7AynbdPTmGDm3K1MgpuzSyYFyi5xUroPY2c7TZ0FMz/Z6aVDEtzMGbdS4OI7lWHiWU7GP5Ph/l1gBlNT6pTILCsK88uLyBSoX8qdeKNg6mud1qUlQtk1TuyvYXrLnJZfSIaLAwCDARLudAEAAA==" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEANt/MeXP0fjbHjsyNBxKLYV1GMDgwP/FIpmMIFaCd5Oj5uxUJhBbQyzB0a2CyRumRmpaC1hNwO69jqyBX8wYoeJ2PvVgpq56leMt13OzYOprxXrB4tfk2Zy0eZLBZq5/yeX0YxLU/GtXHG8pJoHZDB9eO35UhqgJL77mGLYcwt50Wdtx2/Q0MLtL9orD3UqI+lfHhB13yaSA2f5rpjkq3YewhaNbHKfOgphf4jXH8aUD1PwFBY4zbkHUWDU2Oe5UhoifU1rgaPwTYleyeKfjAjOIGoYNjY57lXlEYX7psSwF+2XdxDuOvFEQ9W/3nXZcl5YIZl9dy+DE/hqi9/dZScflFyBq/HuOOgIApVSCjHQBAAA=" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEANt/MeXP0fjbHh9iexxKLYV1GMDgwP/FIpmMINaeoABHzdmpTCB2QKGRo1sFkzdMjdS0FrAaZ9sIR9bAL2aMUHE7n3ow82/0ccdbrudmwdTXivWCxV/OFHbU5kkGm1nittDxxySI+e9cohxvKSaB2QwGyx0/KkPUfCjTcAxbDmGrH+ty3DY9DcxOWl7heLcSoj5/9nzHXTIpYPZG4ShHpfsQtsNXbsepsyDmd8X2O7x0gKjvKGl3nHELokYg3txxpzJEPMpnraPxT4hdj+YVOi4wg6iJFTF03KvMIwrzS49lKdgvHYrTHXmjIOqFr09wXJeWCGYrnXjvwP4aojdA56rj8gsQNbvfrnMEACI1yft0AQAA" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEANt/MeXP0fjbHseaz9mXWgrrMIDBgf+LRTIZQSwLc3lHzdmpTCB2knmTo1sFkzdMjdS0FrCam98iHVkDv5gxQsXtfOrBzHcfmZxuuZ6bBVNfK9YLFo8o13fS5kkGm/ldaq/jj0kQ8y9x73a8pZgEZnudXu34URmipvSummPYcgjb/swqx23T08DsN0e0HO9WQtSf31HluEsmBczetDnKUek+hH1aaLLj1FkQ8zfLzHd86QBR/+SHquOMWxA1fmtKHXcqQ8SjUvMcjX9C7PqzK9dxgRlEjVictuNeZR5RmF96LEvBfqkyY3HijYKoZyiY4rguLRHM/iAh5cT+GqK3KPWY4/ILEDWbn+Y5AgDgvUJYdAEAAA==" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEANt/MeXP0fjbHh/7IhxLLYV1GMDgwP/jLzIYQawF1Z2OrMdTmUBsk08zHd0qmLxhaqSmtYDVHFvf6sga+MWMESpu51MPZma7Czvdcj03C6a+VqwXLL7BZ42jNk8y2EwGBSPHH5Mg5s/5Eex4SzEJzF65fLfjR2WImhudbxzClkPVJ4Q5bpueBmYfsbvgeLcSop6x4abDLpkUMLujUdpR6T6ELSxt6jh1FsR8tW9nHV46JEHNkXeccQuiRqAqwHGnMkS8S13A0fgnxC438WTHBWYQNUIsoY57lXlEYX7psSwF+8Wu8pIjbxREvetxLcd1aYlg9hK2dkf21xC92dvOOC6/AFFzZnWqIwBskrIsdAEAAA==" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEANt/MeXP0fjbHl4hGx1KLYV1GMDgwP/FIpmMINbfo4mOmrNTmUDsFduKHN0qmLxhaqSmtYDVeCi2O7IGfjFjhIrb+dSDmZMs7jjecj03C6a+VqwXLP4/8IajNk8y2EyTwM2OPyZBzNc/MNPxlmISmL1vyT7Hj8oQNf/nxziGLYewFcKqHbdNTwOz1eqyHe9WQtQvmuvnuEsmBcxOzoh3VLoPYbP/jnacOgtiPlecp+NLB4j6WotAxxm3IGp+LExw3KkMEU/TbXY0/gmx64d6qeMCM4ia+aa+jnuVeURhfumxLAX7JWrZZUfeKIj6jFkTHdelJYLZfYr7HNlfQ/Se9l7ruPwCRM2mDdMdASmvd0h0AQAA" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="375" />
    <add key="treeView.Columns.Value.Width" value="150" />
    <add key="treeView.Columns.Min.Width" value="150" />
    <add key="treeView.Columns.Max.Width" value="150" />
    <add key="listenerPort" value="8085" />
    <add key="/lpc/nct6779d/control/0/plot" value="false" />
    <add key="/lpc/nct6779d/control/1/plot" value="false" />
    <add key="/lpc/nct6779d/control/2/plot" value="false" />
    <add key="/lpc/nct6779d/control/3/plot" value="false" />
    <add key="/lpc/nct6779d/control/4/plot" value="false" />
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/load/7/plot" value="false" />
    <add key="/amdcpu/0/load/8/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/power/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/amdcpu/0/power/2/plot" value="false" />
    <add key="/amdcpu/0/power/3/plot" value="false" />
    <add key="/amdcpu/0/power/4/plot" value="false" />
    <add key="/amdcpu/0/power/5/plot" value="false" />
    <add key="/amdcpu/0/power/6/plot" value="false" />
    <add key="/amdcpu/0/power/7/plot" value="false" />
    <add key="/amdcpu/0/power/8/plot" value="false" />
    <add key="/amdcpu/0/power/9/plot" value="false" />
    <add key="/atigpu/0/temperature/3/plot" value="false" />
    <add key="/atigpu/0/temperature/7/plot" value="false" />
    <add key="/atigpu/0/temperature/8/plot" value="false" />
    <add key="/atigpu/0/temperature/9/plot" value="false" />
    <add key="/atigpu/0/power/0/plot" value="false" />
    <add key="/atigpu/0/clock/0/plot" value="false" />
    <add key="/atigpu/0/clock/1/plot" value="false" />
    <add key="/atigpu/0/voltage/0/plot" value="false" />
    <add key="/atigpu/0/load/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/2/temperature/0/plot" value="false" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/0/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/1/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/2/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/3/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/4/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/5/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/6/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/7/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/10/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/11/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/12/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/13/plot" value="false" />
    <add key="/lpc/nct6779d/voltage/14/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/1/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/2/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/3/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/4/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/5/plot" value="false" />
    <add key="/lpc/nct6779d/temperature/6/plot" value="false" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/temperature/4/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/clock/6/plot" value="false" />
    <add key="/amdcpu/0/clock/7/plot" value="false" />
    <add key="/amdcpu/0/clock/8/plot" value="false" />
    <add key="/amdcpu/0/power/1/plot" value="false" />
    <add key="/hdd/2/load/0/values" value="H4sIAAAAAAAEAPtg+Ei/MOG2RztPrxMASr++LAwAAAA=" />
    <add key="/hdd/2/temperature/0/values" value="H4sIAAAAAAAEAPtg+Ei/MOG2BwODihMADM/vKgwAAAA=" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEAFs26aF+YcJtD43LVxwBFev9HQwAAAA=" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEAFs26aF+YcJtj5gtYU4ACKqEJAwAAAA=" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEAFs26aF+YcJtDwYGBScArpJtHgwAAAA=" />
    <add key="/atigpu/0/control/0/values" value="" />
    <add key="/atigpu/0/load/1/values" value="" />
    <add key="/atigpu/0/load/0/values" value="H4sIAAAAAAAEAFNV/HM2O+G2BwMQcCirsTNAwQGnnSqsENZ/ttxpjBDRBvsdZfFMMDU2/19zw9hHg5Kg4rscYyJgbAf7S7wwNoP9vVOJcL2/u+DiDA/5kqHsEEctxwS4+MpumBoOR4Z2GLvCsVUKoXdiZDKcvcIwEW5vhxhCfMriN3B3uqjB1Bg48CK54UX+ay0Y+/oimBsMHNdNgZlzwtFcG6b3gCMA7Qv3eDgBAAA=" />
    <add key="/atigpu/0/voltage/2/values" value="" />
    <add key="/atigpu/0/voltage/1/values" value="" />
    <add key="/atigpu/0/voltage/0/values" value="H4sIAAAAAAAEAFNV/HM2O+G2ByNDgj2Hsho7AxCA2AecdqqwgjgMB/6z5U5jhIk7n+IsgLEB/6iDNTwAAAA=" />
    <add key="/atigpu/0/clock/2/values" value="" />
    <add key="/atigpu/0/clock/1/values" value="H4sIAAAAAAAEAFNV/HM2O+G2B8OBWy4cymrsDCAAZB9w2qnCCuH8Z8udxggTdz7FWQBjAwBoiis1PAAAAA==" />
    <add key="/atigpu/0/clock/0/values" value="H4sIAAAAAAAEAFNV/HM2O+G2x6yZkc5rfRKZGIBA/miks6ZuMpjNwBDmbLQSIs7VHuEcJL1ThRUsfuB/yZRpjCBW9ZVY5x1l8XD1HHzXxWHsh3wQc1ql05y1HBPA7B11Uc4ru5PA7DS2MGeGdgh73fdI51apJLg5lt1HWGDsDjGIOfKsYc6SlhA1xsXhzsZWCHeeerhOH8Y2+ANRY+sV5qz4IAGuJm0SQv31RRBxkX1hzuumQMQPmYY5m2tD/Ks5J8wZAJF0Sr4gAQAA" />
    <add key="/atigpu/0/fan/0/values" value="" />
    <add key="/atigpu/0/power/4/values" value="" />
    <add key="/atigpu/0/power/3/values" value="" />
    <add key="/atigpu/0/power/2/values" value="" />
    <add key="/atigpu/0/power/1/values" value="" />
    <add key="/atigpu/0/power/0/values" value="H4sIAAAAAAAEAEWQT0iTYRzHZ9HB+D1vzVuIs2AbyQJtHnKyBd9DtaB2KGeXSN+N/miIBLJrCGlUiyC2CGmH7OKkwE0RhjtY6BChkYsIymroEJkXD1uHRtjrvrG9p8/75fN8f8/vOfin8vFu/3ev98IR/L2kHzAZ30pGQ+VqsMoWiwZnnPnnnIYrzSnrof0f0+Les6EXDfu0/k1DLNZXdcbHFPKb9CdeCjoLgSr3+hVa3zD/XRJkv5LjUwJ3mrPm5wRhB/21T4LofbKlRSGnyK4uQfl/z7u3gvRj5uajgqLGnvPnzOhBf5WTCYXQEzqrK4JTD8kf3iuMgvw0LBh28mzbScH8afbfuC545WF+uFHhmIv+VsHYq5v58pJgcImzituCHTtz32WFHy3knLFLh12vzTqTYM+J44LIr/pe/qY674TI4w8Er8s8G40IZtrYuZEXtM9y7lmPgifMPKAr+GbpJ2cE0yn22KyCaxXywB3Brr/+bvZH5IteQTKh1/xoVq/5pXvBmm/+Qt/jNt4zzzuERgQ3n9Ox2xR+TjLPLCvEI8xv39LgdrBzIaXwD6KXQTB8AgAA" />
    <add key="/atigpu/0/temperature/9/values" value="H4sIAAAAAAAEAGP+9ftsdsJtD0YGM6e/PolMDEDAyGDi9Ds4Gco2dTJaCRM3cwqS3qnCCuIwHPjfnzuNEaa+tsVMCsZ+xYfQG+KYADcz/it/IIwNAL/8xqJ4AAAA" />
    <add key="/atigpu/0/temperature/8/values" value="H4sIAAAAAAAEAGP+9ftsdsJtD0YGM6e/PolMDEDAyGDi9EknGco2dbK+ABM3cwqS3qnCCuIwHPjfnzuNEaa+tsVMCsZ+xYfQG+KYADcz/it/IIwNAAwnGz54AAAA" />
    <add key="/atigpu/0/temperature/7/values" value="H4sIAAAAAAAEAGP+9ftsdsJtD0YGM6e/PolMDEDAyGDi9EknGco2dbK+ABM3cwqS3qnCCuIwHPjfnzuNEaa+tsVMCsZ+xYfQG+KYADcz/it/IIwNAAwnGz54AAAA" />
    <add key="/atigpu/0/temperature/6/values" value="" />
    <add key="/atigpu/0/temperature/5/values" value="" />
    <add key="/atigpu/0/temperature/4/values" value="" />
    <add key="/atigpu/0/temperature/3/values" value="H4sIAAAAAAAEAGP+9ftsdsJtD0YGM6e/PolMDEDAyGDi9EknGco2dbK+ABM3cwqS3qnCCuIwHPjfnzuNEaa+tsVMCsZ+xYfQG+KYADcz/it/IIwNAAwnGz54AAAA" />
    <add key="/atigpu/0/temperature/2/values" value="H4sIAAAAAAAEAGP+9ftsdsJtD0YGM6e/PolMDEDAyGDi9EknGco2dVJdCRM3c8pw2qnCCuIwHPjfnzuNEaa+tsVMCsZ+xYfQG+KYADcz/it/IIwNANzLPA94AAAA" />
    <add key="/atigpu/0/temperature/1/values" value="H4sIAAAAAAAEAGP+9ftsdsJtD0YGM6e/PolMDEDAyGDi9EknGco2dVJdCRM3c8pw2qnCCuIwHPjfnzuNEaa+tsVMCsZ+xYfQG+KYADcz/it/IIwNANzLPA94AAAA" />
    <add key="/atigpu/0/temperature/0/values" value="H4sIAAAAAAAEAGP+9ftsdsJtD0YGM6e/PolMDEDAyGDi9EknGco2dVJdCRM3c8pw2qnCCuIwHPjfnzuNEaa+tsVMCsZ+xYfQG+KYADcz/it/IIwNANzLPA94AAAA" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEADWRa0gUURiGc/ecaTA1zEuhmbgaFaZhqV0o8I0yxUtahquZVuuasYmRglCigZomIQgJGRGBtwglKi0UicQWYRUV/JNIUBCSWYpiUGbZOO84vx4e3u92xs8m/jrzphJMVhU5kc3hG/Tv3arv+2m3NaqL3IjigZnkdT+7tKr72kSB6GVHrJvhPd+cebSeaYrZbFqj1CiB/E2F5CCBLLtN54pRMyrLc3U+UC6ACLvOPv4SJQH5OncLibAg8ly2wEg8MyNdAmk9BTpvWRR4arus8+KSwFYXM2krAnf+5ek87CFxa5x9apq1fd6S+0u1/VXyb4vA6eRLOtudZqgJj33Xb6ks+aKfmFdlwrZzF/WM93cTGotYG5xiRqCV+1hTzRjM7D7aYtT2LgTofseUiskO9m/qULFnmDvvalAx56Q/8UtFevX2MGnUFs3t0325t4JEL+bj9ipoiePcZxEKdmew9n64gowVcprGrmt859loBSkuep9YBR8ajRv3K1juZ88QjRP9yXUavywjWw8qaOgje/spGF1gbehrickx+sJjEs8DOWv8sERXDt/HESIR+4B+sErg1DTzn9sFXgyxT2ejwLwHua1eoMyddzlvCri70V+5LTDUxj5ZdwU8l9lnoFNgsICZQ58E/kzQp88IXH/IHfo1jqqnT/omsNP4X1d/CFgczHyd12Z50ccsCBTN0zdYJKaaWBtaI2FSyKiWCPVhPk7zfcfpW6skKopZqxRLBN+gP3tB415yaa7EhPGvezRufcW77EkSrhD61JMSlnvGrPMSs5XkTI3HIsnx6drb/iQr2RKOWtbajkh8tNI/aRH4DxLhxxPYAwAA" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEADWSX0hUQRSHNdcQU3vIVDQRawOjkoo0EJOfPpiKloiRgqm5q1jrn0UDocQtCJNFTAPBIkKytBeJTClNwjQzbqULBiXSi8lmKnt3dkaQLbXrnOt9+vj4nTPnzNz9JsPGZMl8huHsEoriHxz1kd/YVugHp+82rd9bRu37P9k7fkVsSe8tdOO015Loq/vg13mPdjKdCXt3bVOV3Q3znkriATcKy02Sg3IZbI3Fkp8IFanHyyUvjLlQH2mW3P3LBWM08bEzbnxJp4y1Q0XuUIXkxQAVz01lko1+KsIVylQKF5o3SyTXzbpw00F9NodVmN8Rt/tp8wcQh/W5cSH7iuSUMoaAjMehO7vY6hflillOjoiLpTLjDOXoqKZaJc+DqAKapyDXg4lLg8k9eu0wi5T+W+wq5vqov7NlFUc+08zjb1fhmiTf8nsFpxIPGP312tbkE9JHDDFkhlC+3cbQAzp3tJEhLp9ql24x5P8jtt5mUKronpNqGHIU8ssWhh8dxOn1DN5R6jmtcWYYsY/GAw3EpVcZ2kaIXf0M04xqFYsHczPkcZnjRRSdZTVz9BfR/SR1ciR2kbc7BM45KX/eLvByivq8GRRQg4g/jgs0BNJezQsCgb7k074LTD2jPsWTAsFe6tPWJDBRQZnucIG/s+Rr/AWsD2mGLoPASTv5G34Ch/X3StngOGihDNY5AkPI965xVKvkxX2O+U6qVb56sGu3fu6MB4f26f+P5kfSyH9yeNBUS7UGrwcxdeSvRXPEDBPHRXHM6m/dG8nx9BXtlZ7KocSSv56jzdaqnxXLsWIjLtN4Jp74ToJ2t2vEBiOH5S7VZpk4fhaQd7QL/AfzBj9H2AMAAA==" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEADWRbUhUQRSGVSrN1IjMFe3D1KQPk9xyZcGZub5ErbBliJGBpOW6Ln5kKaFhukZQECJICBoShkb+says8CKWlBlbtJoEq1JBhCaCYmnFZtl1zvX+enh433PPzGzKW/V3IGfc4vAmIzuheY+P/J4vhb6c8F0mddiM0v4p64qfnl+SfqCA44C3yOSr++CnGS0rmcak9X7LFFfPYVvnkPyhk+Nkfp7k7t0CzkunJFcZOFL35kvuimEoj7BJThIMsVuIjVaOt4coM/ma4dhju2Q1m6Ej74zk+CwGg4syl60MV//lSLYZGaqGaI7/FIOtjzg9Rts/gHisnSPdelryVrNAgOVW6MpZnOVf5REzk1MRfjxXZsoaFDSUULfzl0BkFu3TtyDw4kR3Spve7ZmLkD4WZozepfk+N8zY9YZ2nlTNmBkgXxBqhtG0OXa13q1L2UeZ2wxpIZT/VsHQptB/uy4w7Myk7s9KhsxF4tyLDK5iuuejhQxHXOSrHQyeBuKDZxm8vTTznsZpYcRBGj+sIK61M9SrxJYWhndz1GWJHKNuvTvDcT+S/pUxz9GZTffTHCFgaiLv3aDg8ATlP40JPBikOXGLArNBxPH+CioC6VxhUQoCfclzg4LBOzTHtFZBsJfmdAxr92ynzGStwJ8R8q1lAudu0g6/zwskXicfrvEO/b32FwtEF1HG4hAIDCHP7AIls+SHwgXGG6kbVcPht4b4ipMjZiPlv1dzqCBfWctRU0rd960c28rIN/Vq3EM8onKM6G9drHH7IzqX6uFwbSdv+cIRXUd5zzOOaSfxE43dCfq7uDlMC8Sv+jmKrlG38AfHxyzy3s8C/wEycLep2AMAAA==" />
    <add key="/amdcpu/0/clock/8/values" value="H4sIAAAAAAAEAAsumHwuO+G2R1V3kOvN5YlMDEDAXh3sqnk6CcxeYB3k+u4oRFzkVqwr30FpFVYQh+HA/w0bDcDiXjMSXT35IOpFM7JcFzukgNmhmfGuGiEQvVOzQlxD/kDYIUDxUznJYPYH13JX31MQ8YUn41xvTISwj1XGuf7aAzGzWjLe1VMMwj4BFN9UDmH/WRnq2rcLwu5gK3M99xGi9932LNeb5yHiIH+tl4bYtW5bqevamAQw+z1QjdmMZLib3Z9B1HcCzdl4HGKOyotE1/c8EHbN8mzXcq4UuHu4GCHiGzzDXI8vTYa7n/cXxJyw79muh9MgaiauanD9fRkinngi07VgVgJc3LALIm4tkeWqmpsCt1cpG6JGVzvYlYsvBR4vue8h4hycCa63p0L0vtWMc2Vig7B3S4W4KgtD1AffDnLd5ZQED8+6/AS4H+WLIOKPIhJc5XdC2CfZs10vQ+N6PTCslmyG+EtvJzC+FBFxpNQDUX8lrdT1dX0S3C/n9RDuMfsKYae8DHPNbofoXRSe7Xo3ApGuAMQYmTp8AgAA" />
    <add key="/amdcpu/0/power/9/values" value="H4sIAAAAAAAEAC2RbyiccQDHH9co1/bUsiRaN+5WTBySUrPvLwn3Ym/mwgs15lpyRFLHC/Nia7KZQsShGItrd3nOkEnrlrg68qd7gyfFG9aUi6bMVmzP1/Pq83z6fr+/59dTVN+zbi9XC39nxIqdiQqd9O/JkYwiafWFxvIvSZws0/c824P8Pc4U/v9F8l0p3jTNm5UQLDLzgRQnxoRNY3Ewh0Qru0ONPlj/kqvcMwjUVGrszxvB0wC9rnQK213kYdsqLhe5eTQzB0s0OXtMxbSDfP5oF50L5JMRBeun7NrCZbGzQe/cVTEVx7PeB13wlJVr/Hj8Cln99I4yDwoOmY809sHr505R/gVCt8nbW5/h0PNeScnz0IfRP/eswf+JO9+887hzyZ2fVheWXjLzY+gD/gTpn7ROot7JbwiTmpD+jt79YBAPa7nfkKwgwc7MpnkCepne9NaP2hB9sU+B2stul3sAugjyG4MXxijmLftrWMilr3Ev41Udu9lSNwwN9PdiZmH4Sr7b8hrBm3992NyB8S+8V3ubikA8/UrJJBI6mDcvfcRxK9k06sJGKtmwqRNZ5+Tos1vC3sZudaYk9krp08/ui2sGViE2fAIAAA==" />
    <add key="/amdcpu/0/clock/7/values" value="H4sIAAAAAAAEAAsumHwuO+G2R1V3kOvN5YlMDEDAXh3sqnk6CcxeYB3k+u4oRFzkVqwr30FpFVYQh+HA/w0bDcDiXjMSXT35IOpFM7JcFzukgNmhmfGuGiEQvVOzQlxD/kDYIUDxUznJYPYH13JX31MQ8YUn41xvTISwj1XGuf7aAzGzWjLe1VMMwj4BFN9UDmH/WRnq2rcLwu5gK3M99xGi9932LNeb5xHuXy8NsWvdtlLXtTEJYPZ7oBqzGclwN7s/g6jvBJqz8TjEHJUXia7veSDsmuXZruVcKXD3cDFCxK/9DHU9vjQZ7n7eXxBzwr5nux5Og6iZuKrB9fdliHjiiUzXglkJcHHDLoi4tUSWq2puCtxepWyIGl3tYFcuvhR4vOS+h4hzcCa43p4K0ftWM86ViQ3C3i0V4qosDFEffDvIdZdTEjw86/IT4H6UL4KIP4pIcJXfCWGfZM92vQyN68s3MlyXbIb4S28nML4UIeLHgeYo9UDUX0krdX1dnwT3y3k9hHvMvkLYKS/DXLPbIXoXhWe73o1AxAsAffozXnwCAAA=" />
    <add key="/amdcpu/0/power/8/values" value="H4sIAAAAAAAEAAsumHwuO+G2R3mztcPN5YlMDEDwTUTOQfN0Epj9ebmyw7ujEPHbfewOfAelVVhBHIYD/zdsNACLi0/mdvDkg6jn27jJfrFDCpi9RuyZvUYIRO9Bzx/2IX8g7E1Bn+1P5SSD2Ulnt9v7noKIf5e6Y39jIoTNZXPH/tceiJksE5/ae4pB2Me1mR02lUPYz+c8t+/bBWEvf3XT/txHiF7+e4oON89DxJlMXtivl4bYxeBzyH5tTAKYvX6lpIPZDIj4q8/H7d2fQdRvf7bVfuNxiDltXooO73kg7KTQS/blXBB/PZh4256LESJetuiS/fGlEHPitv+x5/0FMeeV5gX7w2kQNVLTl9n/vgwR53HcYl8wC+IG/bo+e8MuiDh30zJ71VyI+SlqB+yVsiFqHrqttOfig4jnVJ2yz30PEZ/XdsD+9lSI3gk5W+yZ2CDsGpad9srCEPVeF4/Y73KCiMue32Nflw/R+0drlr18EUTclWuzvfxOCJvj0DL7y9C4nj5zlv2SzRB/rdFndzilCBGvTThjr9QDUR/99pj963oIe/bBF/bn9SBs5VY5B7OvUP8Gyjpkt0P0erPpONyNgIgvvqPvAAApy5CIfAIAAA==" />
    <add key="/amdcpu/0/clock/6/values" value="H4sIAAAAAAAEAAsumHwuO+G2h870ZtebyxOZGIDgiU6Lq+bpJDDbJbXZ9d1RiPjiuU2ufAelVVhBHIYD/zdsNACLt35pcfXkg6jfnd3kutghBczmmp7jqhEC0Ts1K8Q15A+EHZIZ73oqJxmu3vcURDzauNn1xkQIu5ix2fXXHoiZdzoqXT3FIGwe1UrXTeUQtl1Xq2vfLgi7g63M9dxHhDtvnke4f710MlzN2pgEMHvJ03JX1RaIuGhGlmvEL4j6TqCajcch5qi8SHR9z4NwWzlXCtxMLkaIuNqeVtfjSyHmLDwZ58oLNYcb6M7DaRA1E1c1uP6+DBF/xd7kWjArAS5u2AURv2TZ5KqaCzE/V63VVSkboubPL6BdfCnweMl9jxC/PRWid790tisTG4S9dUKLq7IwRL3IyWbXXU5J8PCsy4folVrS6CpflAQ3U34nhN1zvsn1MjSuQWG1ZHMy3JxTihDxpyWVrko9EPWeDo2ur+uT4H45rwdhdwPNMfsKYX+Tb3PNbofoXRSe7Xo3AhEvACfjzEl8AgAA" />
    <add key="/amdcpu/0/power/7/values" value="H4sIAAAAAAAEAAsumHwuO+G2xz0Ja8ebyxOZGICgQIDFUfN0EpgtWmvt+O4oRPzCT37HQzOlVVhBHIYD///cMACLb3PidfTkg6hPusTuuNghBczO/7vVQSMEovfUHSWHkD8Q9rq7BQ6ncpLBbDGtJw6+pyDi1YYajjcmQtiCSmqOv/ZAzPTv4Xb0FIOweZf5O24qh7BD470d+3ZB2Nfedjic+wjRe342u+PN8xDx4zP9HNdLQ+xaK/LEYW1MApitIHfMQbUFIr6itMch4hdE/ffvzQ4bj0PMOXky3+E9D4Q9P5jJsZwL4q8fW+QcuRgh4hOiPR2PL4WYc2vTR3teqDkxmz44HE6DqNl1udXh92WIePpDAceCWRA3uKTPdTDsgojPmi7qqJoLMV9jubajUjZEzblGNUcuPoh4s3OoY+57iHjofjnH21Mheo/1LnZgYoOwjWsMHJWFIeo/VYc67nKCiE9hNHKsy4fovfGN1VG+CCJebqTtKL8Tws5R/uNwGRrXagpXHJZshvhLbi6n4ylFiLgSD6+jUg9EfbD/S4fX9RD26StTHc7rQdhLn9o6mn2FsAsSdR2z2yF6+QQXONyNgIhPiDNxBACqVvMwfAIAAA==" />
    <add key="/amdcpu/0/clock/5/values" value="H4sIAAAAAAAEAAsumHwuO+G2x0yRKtebyxOZGIDgiU6Lq+bpJDDbJbXZ9d1RiPjiuU2uh2ZKq7CCOAwH/v+5YQAW95qR6OrJB1EvmpHlutghBcxexFDlqhEC0bt1QotryB8IW2d6s+upnGQw+4NruavvKYj4wpNxrjcmQtjHKuNcf+2BmKkenePqKQZhnwCKbyqHsPV2xrv27YKwpZY0up77CNH7bnuW683zEPEF1kGu66Uhdq3bVuq6NiYBzJ7IW+Gq2gIR35Xd5BrxC2HOxuMQc3LVWl3f80DYi8KzXcu5IP6qlox35WKEiF/7Gep6fCnEnBjjZldeqDkX51S6Hk6DqJm4qsH192WIeOKJTNeCWQlwccMuiLi1RJarai7EfJUXia5K2RA1utrBrlx8EHH26mDX3PcQcQ7OBNfbUyF6XddWuDKxQdi7pUJclYUh6oNvB7nuckqCh2ddPkRvJ1uZq3wRRPxRRIKr/E4I+yR7tutlaFyvB4bVks3J8HA+pQgRl8vPcVXqgai/klbq+ro+Ce6X83oQ9lvNOFezrxB2yssw1+x2iN5ixmbXuxGIdAUA+VvOHHwCAAA=" />
    <add key="/amdcpu/0/power/6/values" value="H4sIAAAAAAAEAAsumHwuO+G2x5yzio43lycyMQCBTJqBo+bpJDCbxUrZ8d1RiPi3XWyOh2ZKq7CCOAwH/v+5YQAW/x+82MGTD6K+dVW5w2KHFDD7bimDo0YIRO+vGG/HkD8Q9r0MbcdTOclg9j6e6Q6+pyDiB4OcHG5MhLDXFFY4/NoDMbNZbYKDpxiE/e6RkMOmcgi75xm/Q98uCNsp+ofDuY8QvaZP5zjcPA8RVz7y3X69NMSuB4IbHdbGJIDZ3HL3HVRbIOIs8b8cIn5B1L8SYnLceBxiTsVvLcf3PBB2VmS7QzkXxF+ywdYOXIwQ8UYWYYfjSyHmHKq3duSFmnPq/SKHw2kQNT4udxx+X4aIs9UXOBTMgrihz3a/g2EXRPx3cYSDai7EfKar4Q5K2RA1OqbSDlx8EPEVWs/tc99DxNkONjjcngrR+/nWbwcmNgg7x1jLQVkYov7iwZv2u5wg4hrJbg51+RC9FxdlOcgXQcR5PMMc5HdC2Aussh0uQ+P67fe1Dks2Q/wV07zc4ZQiRHyPy3QHpR6I+jm9Sx1e10PYIVFPHM7rQdiVu3UdzL5C2FGvah2y2yF6p8/mdrwbAVWfZeoIAEe7brd8AgAA" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEAAsumHwuO+G2x8RVDa43lycyMQABl2qlq+bpJDAbJP7uaCKcfWimtAoriMNw4P+fGwZw8Td+x1hgbANJhDk+5ghzxM2PwtXcmIhQ82sPQk2nhzo7jH3uI0QND1DNzfNJcPZ66WQw+8uXAte1MQlg9sqKBlfVlmS4Ofk3OzlhbC5GhF3HlybD1fP+Qth7OA1h1+/LCPEXf9oR5vClwO3NfZ8AV3N7KkI9E1sS3C5l4RQ4e5cTQk1dPkKvfBFCvfxOhJrL0DAH2bVkM8JfpxQRflHqQaiP1kb4924EwkwAP3llW+ABAAA=" />
    <add key="/amdcpu/0/power/5/values" value="H4sIAAAAAAAEAAsumHwuO+G2R+C91/Y3lycyMQDB7uQv9pqnk8DstIMX7d8dhYi/qDhhf2imtAoriMNw4P+fGwZgcQW94/aefBD169ia7Rc7pIDZpgkL7Q0kIXqDPi229zGHqPlROt/+VE4ymK29rsHe9xRETZvgVPsbEyFsR+2F9r/2QNT3TJ9q7ykGYU++sdp+UzmEfUlktX3fLgj7jlif/bmPEL3nLJkcbp6HiJeUrrFfLw2xy8Jrq/3amAQwe4EDg4NqC0Q8ZO5S+4hfEPXV2Q32G49DzOG4ddT+PQ+E/SFzsn05F8Rfi/yn2XMxQsQ13VbaH18KMcdo8jx7Xqg50lbd9ofTIGrqvWPtf1+GiCfXd9oXzIK4oSMqwN6wCyLecKXWXjUXYv7PJZPslbIhaqyeNtlz8UHEI64vsM99D9Wr8Mj+9lSIXtNFj+2Z2CDsFdsn2isLQ9RfZF9sv8sJIr7m1jT7unyIXoX7lfbyRRBxEcNp9vI7IWwpnlT7y9C4DnTNtl+yGeKvHZHr7U8pQsQn7OqxV+qBqM9knWT/uh7CVgxstj+vB2Hv3HDa3uwrhH3ox2f77HaI3i9Kx+zvRkDEo4UZHACpNAHefAIAAA==" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEAAsumHwuO+G2x8RVDa43lycyMQABl2qlq+bpJDB7ZUWD67ujEHGP8hLXQzOlVVhBHIYD///cMACLG7jnuHryQdTnzEx3XeyQAmZP2B3laiAJ0RuWGe/qYw5RMwkofionGc72PQVR4wY0/8ZECHvWP2/XX3sg6ndkR7l6ikHY2+76um4qh7CruoNc+3Yh1Jz7CNHLA3T/zfNJcLetl4bYZWcZ7ro2JgHuR9WWZLi/In4h3L/gyiEWGLucKwXuTi5GiPkhQL8cX5oMV8/7C+Gvw2kI//6+jBAvmJUAZxt2IfyimoswXykboYaLLwXu5tz3CXC/3J6aBHczExsiHJSFU+Bqdjkh7K3Lh+i90+vrKl+UBHeb/M4keBxdhsavlHiK65LNiDA5pZgIN1+pBxE+r+sR5p/Xg7BB6cfsK8Jt2e2IOP1mmAQPcwAslviNcAIAAA==" />
    <add key="/amdcpu/0/power/4/values" value="H4sIAAAAAAAEAAsumHwuO+G2B8eTJfY3lycyMQDBtoqV9pqnk8DsOVyz7d8dhYg3RrTaH5oprcIK4jAc+P/nhgFYPP/TZHtPPoj699917RY7pIDZM2zu2xpIQvQKNTLb+ZhD1OgUZdmdykkGs8/83GXrewqi5ojGfdsbEyFsac23tr/2QNSvXf7E1lMMwp7r88F2UzmE3aX02bZvF4S94nGR3bmPEL3abbPtb56HiGf8mme/XhpiV5ntb7u1MQlg9p+LN+xVWyDi/06n20f8gqg/n3vCduNxiDkfP2jZveeBsEVELtqWc0H81aQQacfFCBFfk9hhd3wp1HyDFXa8UHOYAxjsD6dB1MxUmW37+zJEPDn7qm3BLIgb6kQX2hp2QcQn7d5lq5oLMZ+d94WtUjZETVbqWTsuPoj4oqoNdrnvIeKvzOba354K0Wu3e7Y9ExuEvfjgTVtlYag5N3/Y7nKCiF/c+cC2Lh+il8d/o618EUR8j+p9W/mdELbjtou2l6Fx/e3ZKtslmyH+Uv8WZ39KESI+6/I5W6UeiHqJ1wvtXtdD08nMXbbn9SDs6k2d9mZfIWz3iHz77HaI3tArtvbfDCHi4ZNn2QMAbSBI/nwCAAA=" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEAAsumHwuO+G2x8RVDa43lycyMQABl2qlq+bpJDAbJP7uaCKcfWimtAoriMNw4P+fGwZgcQP3HFdPPoT6xQ4pcLaBJETvly8Frj7mCDXi5kdZYOwbExFqfu2BqOEBusFTDML2KC9x3VSOEO/blQR357mPiXDxm+cRatZLJ8PNXBuTAFev2pIMd0PEL4h6N6D5G48j/PieBxEO5VwIv3AxIsSPL4WYs7KiwZUXyZzDaQj3/L6M8O+LP+2ccHP4IGaG6Ba45r5PgKu/PRWhnokN4Udl4RQ4e5dTEtzeunyEXvkihHr5nQhzLh9FhO2Szclwd55SRPhFqQehfte6I/B4MfuKCP/sdkT4fDNE2AUAtyVQVEACAAA=" />
    <add key="/amdcpu/0/power/3/values" value="H4sIAAAAAAAEAC2RbyjjcRzHEa5mPKCu5AHDlJKI6B69h7ruV65kT3RxNuf/zBZ16hLGlXJutljOdbntxk27lg7pTkJYq8nUbTlLSd3dI8W5IrYV7vf2ffT6vnq/P9/vt69SP+7TqA6fWBOkiqBDHRN1t4rOfyN3p0HkocAqTt30yaYf2JxKy477v4nauIkcFIjeWjMPIYn5PnUX7IpGkZ2PTShIZdcSP4vKUmaKRz7A2/FC5Jd5HXjqZaZC9wYHZvLbB5MIrTJfFZmA8JAckM5hoYfcmmyDcYVsTbHAd87ut0QPgnv0sUtfMJ/Gs54/m4arViXyP1msQv6afnrKgZoQ8+6xTnz1cE6G4MSZlPxIbkCPhO9yVdshiab/eOyCZ5ZzbAEjEu/ntCrHsNXMjP6zEmE/vXbLAP173sFoElA4Qi+zGyDXcn641oxMDTMbu6OQJNG39DugPaO/rnDj0MLu3N91xMSTh1XvkJXC/C/5J6yU0x+VWdCnY3envg3pXfThKjPSv5Nzutvhv/9r789mzCzyXb5eG7wy+oFlIzJHmd+vG8RJP7lJ0GEvn2zzL6Dkgpy3vQbNMLuvZMu4LKR3Xv3BLV3o3sJ8AgAA" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEAAsumHwuO+G2x8RVDa43lycyMQABl2qlq+bpJDDbo7zE9d1RiDhIzaGZ0iqsIA7Dgf9/bhiAxQ3cc1w9+ZLgahY7pMDZBpIQvV++FLj6mCPUiJsfZYGxb0xEqPm1B6KGB+gGTzGEGzaVI8T7diXB3XnuYyJc/OZ5hJr10slwM9fGJMDVq7Ykw93AeegI3A3veRLhfinnQrifixERJseXJsPdw/sLYpcbkH04DeGG35cRfiyYlQBnG3Yh3KyamwJnK2Uj1HDxQcSPTUlwDTiRADfzxx6EmUxsCHPuhh5jgbHr8hHq5YsQauR3ItiXjyLCeclmRDicUkT4UakHEeav65H8slqNHcb+ZogwEwDzfRrSQAIAAA==" />
    <add key="/amdcpu/0/power/2/values" value="H4sIAAAAAAAEAC2RXSikURjHx4Q0oXyk5OLNrEkUmcTuXOj/NheiCElJ8rXbkFmZlXyUNbul3sjXUrv5ShmaBkO+dpeIsDsaNaYdiZS9cSdE2bbRZnff/3uufufX/3nOec4ptgx7zFXnOdKFB2f2arXq3xrf/YGkwxqZfV9XcfONXvSuwF8RlxD0f6PaedqP0ss+w2lDbjjzmQVtsImvZP5jGUZaLGuHDFPIe85MuncM7tcvZS56bEa+m5n7awmnH8jxPwfh32T+hbEbuTFkmzCJ5VZyv2UE/RvkiO9d8NyxdtdxiLMjeoN6GotxPGu8bx7O8iqZk6eiRV0XvapuDaV+5vWRLVhysU/j5gJuQ8nZs2/RquFc2xfd0ATQ4/0oXDPso/3yEWFKH2eNhD0TMwH2Ejz66E3WDlhGeYcERwn0PfSDgS3QNbD/cUoftGZm1nSd0ITTJwXZUHhAH2t8wm/lfeqtIaI6mOzdGcCzKOZ9E5+wYVTmyh9AZyNrxWAThCb6ha1eCOvkk+M38Cl/nXNei+kVzlUo2OGOp0/cl6DtZb697B2urORsoQ1HqWSHYQ6ZD+TLys8wS6zNanfgl155B9cp/gJk7ykYfAIAAA==" />
    <add key="/amdcpu/0/clock/0/values" value="" />
    <add key="/amdcpu/0/power/1/values" value="H4sIAAAAAAAEAC2RXUhTcQDF56CU1XxZZiQlLZWEGo5gDzGoM4LyQbDlg5KU2ghhirqXvdWgMhpjrXQ1B22rLQVRdBuK3fYwbc2YOgUfdOhe+hjUIG0Rgyn0cc/u0+/+OOf87597vX8oaezYuhrXl+lSY51Syb9ndzaP+qUuka99l+h+fKC/b9hA4WZVzYH/L5Lon5hCLfq6uIDGcuab7Q74LxlEfiAEcKaF3brmGbTsk0teTyLRc1vkXydsaErQt1l82HxKdlSOoxDhZsOsF41HyVN9cwiZya6KMOwCee2WE8mf7M6pYkit0psiEUxV8ayZPS8m2ztE1p5dgcZFbzH5cCXD/OWIHcFF7gx2C9g5TM5/G4ZZxntJsy8hK6FvvxjC4hvu6I+MQV7gTuGVG+/vMKMasWBvnf6c4ES/m9/gSZuhttKrup+htpf7N5J+KI3MZNdeQFZOf3IijN4d+vOfBGw52bVHg5AeJB/z+HBawfz8hWkIOnqtbRR3+9jNya2oNtEHSv2ofks27z7EevFfZwYeIxDmvT7Hwkicos8GPFDamF+ufY7sPfLX7SdYVZFzh2LQ/CbnFz7C+IjdL/53SLcW/XGZ7i/+k8JCfAIAAA==" />
    <add key="/amdcpu/0/power/0/values" value="H4sIAAAAAAAEAC2QTUgbURSFNaBIqIEkmqCZcWI06UTGGEvR4kY9IhhQEQIqEtr0B5Wm0qKL2bUggrgRi6g7oRR1ISLqRqOg0IpBIYJuIlbauhX8adRKUm3rnLzV9z7Ove/e5383Gg0FDxuE83oczDzXpf0/35pq4d55oXH74xqcbtL7ApVIPLUVZ9xf0jb+fjWXaz4iKvAZmI8pufhc80pjcbUA3jzWOpIyGiuZyVad2H7zUuPcfhOatpnJWCtA7CO557sDiTXmu7tE+Cxk014JFlVya1zGcJj8TLUgesFae3UpDnbpTwxezNv4lhrIx1wgqLHQVgbnAP3stIj2BPPSQA4Wttjnts6Nswfk5q48qHrudbcqQJ9OL0DG1hT7LCt2ZKf6eH4I+NKZ2mVCj+Q+fcfrfPj7OIPuUxaaF+gv/VY4e9j/4ZgdjhAzDXU26A30x0Y3WiL04yUKblL/kxxyQZdJLnNLKDIzH/a7EAZ9fKQQ79+y9iZmgtRL31ktQVohV1mMmJjkzPGwEetL3OvwiQs/C+l/HYlQlpgPRqw4+UCWo2bsesgrvz2ouCL3//EiNMjay00Z1+X0j67r8Q/51qp3fAIAAA==" />
    <add key="/amdcpu/0/temperature/11/values" value="" />
    <add key="/amdcpu/0/temperature/10/values" value="" />
    <add key="/amdcpu/0/temperature/9/values" value="" />
    <add key="/amdcpu/0/temperature/8/values" value="" />
    <add key="/amdcpu/0/temperature/7/values" value="" />
    <add key="/amdcpu/0/temperature/6/values" value="" />
    <add key="/amdcpu/0/temperature/5/values" value="" />
    <add key="/amdcpu/0/temperature/4/values" value="H4sIAAAAAAAEAD2SPUhCYRSGb0INUi1N5ZD9GDQUtSQ03d7JoFpcChw+LRoyIWhwVTJ/ruZV84caQohqKUKaiiApQjDQoRZpUYiGoKQhiCKKuOfcOx3e7znnvN/7XfvadsUtHm1SPofakdMg/X9yGsN3Lq0uZvB2S7ovhRerabBVO/h9mBzXdBHCdCfxZgX78pJWS3GMdVNvMYsZKzG+JMqri8QHMFt26vzxCvMqhp6IF3GMNEkXCex6Sa9Hcd2gWgqj8s4+FdSqzKRxaqJdIowThyBehSVAuhTB/Bfx8iYKJfajoNlOtTkEr5HuJVQYW9hnDKUDmiOn0MFzpA3cLBOT9+P7nvMJw77OHvyYK3DOUVg8NL8YQr+bmLqC12eaX8/A0yTdp+Lz0qXnZmjjrLYw0MX5Z3EBziEBh4165SCmdkjPx9B7zowfuT2n7uHqjPdG0Ojj/JPoiXFvED+HvDeA6qhLZyY++K2jcAr+rxRIC9ybwR/s4vT1fAIAAA==" />
    <add key="/amdcpu/0/temperature/3/values" value="" />
    <add key="/amdcpu/0/temperature/2/values" value="" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEAEVQPUhCURh9BS1S4VoOWWTQUBhEgtPrTAYVQkuBw7WkIROEBteGwt+nz+fjSQ0RRE1FSlMR9ChCMNCglghCoRqC0oZAiijK7+qdzj2c75zzfTVHquBl9w6BaRgtuluFvyenMXg1X8fXGt4uiTdqeLGZ+tv+P/rPrX2kzpsTmOgkvRDCjuip49U4rF00q6cxaSONVUN+eYH8JUzlSZMJYn+JcFXGwCP3jGOoQvx2CpsB4p0qzsvcM4HCO8+K4q5IfEnCoYmyrDIOXIyywrCsEW+MYvaT7ysjm+M+CirtfPc4AgZPo6ehhXhBRm6XfDJJdHAfs4KLRdKIQXzdEO9XMLNCHYQIprPE6xIsPn43FX1e1rjP6zP5iyp8FdbYvXbK76Pg6YGymALRTj4lFScgTVWFy0GzegzjG3zfJHqOCWciSG+Rj3MdZ0eUW4qg3Eu8P4TuGO8cxvdes39xmGdJGPsgbEzBzfisBGGOd07iF/DxKbt8AgAA" />
    <add key="/amdcpu/0/load/8/values" value="H4sIAAAAAAAEAPvhMflcdsJtD26tT/Ym5xOZGMDghL3m6SQou8r+3VGYuIfdYWZxFVYw+8D/33mmYHEXg0Z7Tz6Y+hN2lyOPssDYigIwcTH7r5OT4WzfUzAzGRjWZMHttVN7AlHvUHbMTvd9Ilz9rHKEOYceIuw69xGmZpr9zfMwcQ/79dLJcDVrYxLgflFtQbgh4hdEfYOOt93G43A/2r/nQfi3nCsFbg4XI8Kdx5cizOGFmqNg7W5/OA2iRuG0mP3vywh3BhcnwM302wh3p51qLsJ8pWyEmrfPEObnvk+As3/sQZj5/yMinB9kJsHDIcYjAR62jjMR4Sa/MwkuPn0eIvz3b06Gh/lDRYTfpXoQev8uQ+g9r4dwv9lXhJrEhER4ODNEItIPAIiiZTFkAgAA" />
    <add key="/amdcpu/0/load/7/values" value="H4sIAAAAAAAEAPvhMflcdsJtj6TVux1MzicyMYBAg7WD5ukkCJthvcO7ozDxXIfDzOIqrGDOgf+/80zB4lpFix08+WDqp9kvdkgBs+dGBDsYSEL1MpywVxRIgrO/Tk6Gsn/Z+56CqLnTaeWwJisRLq72BKa+yl73fSKcPascKt7A6XDoIUyNvsO5j1A1Duccbp5H6F0vjbBrbUwCzJ0Oqi0w8Yf2Eb8Q7t94HGaXh8N7nkS4mnKuFChbzIGLEa7G7vjSZLg4L9ScE36cDofTIGoip22w/30ZIj79xhT74GKYGzzs/TbC7GVgUM1NgYsrZSPUvH0GM/+EXe57hPiPPfDwtHt6D+EeKeEUuPiDzCS4eIxHAlzccSZCr/xORFhNnwczR8x+/2aEvx4qwsTX20v1JMHD5O8ymH9DHM7rwcPQwewrlO0wxyExAaJ3kzCDI0MkRPzl9N8OANrCwR18AgAA" />
    <add key="/amdcpu/0/load/6/values" value="H4sIAAAAAAAEAPvhMflcdsJtjy8Rzk4m5xOZGIAgrVLeSfN0Eph955CD07ujEHElIRGnw8ziKqwgDsOB/7/zTMHij0S+OnryQdRPmSXotNghBcxOOj7J0UASojc+vMVBUQCihuGAhuPXyclgtk/WR0ffUxA1AVy6TmuyIGyGCAkntSdQ9T/4nHTfQ8U7nJxmlUPEl3HaOh16CGHvO9/oeO4jRM2u98xON89D9TJ4OK2XhthV9/eG49qYBDD7h+5BR9UWiHjX3mTHiF9Q9QlZjhuPQ8w5fYnH8T0PhL3kHJNTORfEX9aW6k5cjBDxslNWTseXJkPtOmHHCzXnFheD0+E0iJqJtyocf1+GiL8JkXAKLk6AhsMKR7+NEPG2RAkn1VyI+eptsk5K2RA1Cjv0nd4+g5pf4OaU+x4izmLD5/RjD0TvD96ljk/vQew6KqbrJCUMMefNH3enB5lQf91QcYrxgNrbIeDkOBMi7nhXzkl+J9QNZZxO0+dBw/nALcf9myH27t//wfGhIkQ8bzG/k1QPRH3TgruOf5dB2F8dehzP60HY7BVOTmZfIWxXH3mnxASI3qKaUkeGSIj4/C/GTgAyquobfAIAAA==" />
    <add key="/amdcpu/0/load/5/values" value="H4sIAAAAAAAEAPvhMflcdsJtj1uX+Z1MzicyMQBBRrauk+bpJDC7co+007ujEHFHY2anw8ziKqwgDsOB/7/zTMHivkVtjp58EPUMDImOix1SwOxH5/46GkhC9CpFWjopCkDUbG6Rdvo6ORnMXvhrqqPvqUSo3l8Oa7Ig7MYFLo5qTyDq/d7kOOq+h4hv0vG2n1UOET+xydrh0EMIWzH8l+O5j1BzGkIcb56HucfDbr00xC69nYcc18YkQMQTLjqqtkDExQSYnSJ+QdT7p3A6bTwOMWfdHmWn9zwQdm18rWM5F8RfDAduOXAxQsR1Tus7HF8KMedyjYMTL9Qcj72NjofTIGo2f2Fw+n0Z6p4EC8fgYogbNtXcd/TbCBFXn2bqqJoLMX+KsZajUjZEjdWidQ5vnyVD/SJmn/seIu7zOcHxxx5Y+LxxfHoPYtetvvMOUsIpcL8/yITZy+YY4wHRGzs91NFxJkT8s4eUo/xOCPvStwTH6fOgYeiw1XH/Zoi9PRemOT5UhIirxEY5SvVAzTRY7vh3GZQ94bfjeT1YmJ+wN/sKYU+R/uOQmADRuzeRy4khEiJ+bbmMEwDV2iaZfAIAAA==" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEAPvhMflcdsJtj22tzvYm5xOZGIBAxHqqvebpJDCbgcHD/t3RRChbzP4ws7gKK5h94P/vPFOweFCepL0nH0R9g4633WKHFLh6A0mYXgYGRQGIGodpJ+2+Tk6Gip+w8z0FU+NhtyYLoT748hEWGHtWOcL8Qw/hbrM79xGm/qH9zfNJcL3rpWHmizmsjUmAsqvsVVsQ9kb8Qpiz8TjC3vc8iXA15VwpcDVcjAh3Hl+KMIcXyZzDaQhzfl9OgodDcHECXI3fRqhf3rjYqeamwNXzByH8m/sepv6X/Y89EPX3vv+1f3oPYf6vmmNw9TEeCPMdZybB3Sa/E+G26fMQevdvToaH50NFhLhUD0Lv32UId57XQ5hj9hXGXm+fmIDQyxAJEZ+QOs0eAK5G2SVYAgAA" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEAPvhMflcdsJtDwYg8E5QY2eAgsPM4iqsYNaB/7/zTJlg4oGqwsIwtu77RKi4h92s8iS4mkMPEexzHxFqbp6HiE9InWa/XjoZrmZtTAJcjWoLQjziF8Kcjcch5jS8cbF7z5MIF2/kPsoCYx9fmgw3hxeu18PucBpC/e/LCDODixH2+m1EiKvmpsDZStkINW+fQcyflChhn/seJr7e/scehN6n9xB2SQmnwPU+yESoifFIgLMdZyLcKb8ToSYsCOGvh4oQMycU+9lJ9SDU/F0GYXNsOGl3Xg/CbtDxtjP7ilCTmIAIf4ZIhDgAbRVB+/gBAAA=" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEAPvhMflcdsJtD6tNoQ4m5xOZGIBg+o1j9pqnk8BsBgYx+3dHE6Hs9faHmcVVWMHsA/9/55mCxZ84XLDz5IOpZ2BY7JACZXvYGUjC9J6wUxRIgrO/Tk6Gq/9pcpgFxlZ7glCj+z4RrmZWeRLczEMPIWwFa3f7cx8T4eI3zyPcsF4aYf7amAS4+1VbIOIOZcfsIn4h1G88jjDnPQ+CXc4F80uVPRcjwi/HlyLM5/2FcPPhNISbf19GmB9cnAA3028jRLzhjYudai4irJSyE+DmvH0GMT9ymrh97vsEuDk/9iDMfHovEa5GSjgFLl7rrcoOY8vvRLht+jyE2/ZvRrj/oSLCX1I9CPP/LkOE+Xk9hLjZV4T7ExPgYWXPEJkEDysADx5dG1gCAAA=" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEAPvhMflcdsJtj5CSUnuT84lMDGDgYa95OgnMdig7ZvfuKEz8hN1hZnEVVjD7wP/feaZgcYHPN+w8+ZKgahgYFjukwMyxM5BMhIsrCiDUfJ2cDFfjewqhJnr6a24Y+9xHiPiE1Gn2N88j9K6Xhul9aL82JgHCdjjnoNoCExdziPiFUL95l5AwjB1cnAD3i99GhBrV3BQ4+79zAtxtAnwQcb83R+xy30PFD/Q7/NgD0XuD87jD03vwcLOTEkb4/UEmwvy5Dw+xwNjyO5Pgbpg+D+H3/ZsRYfJQESEu1YMw5+8yCLvhjYvdeb0kuHqzrwg1iQkQvQ063nYMkQi7AE21W8rsAQAA" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEAC2RSUgbYRiGR8WLS1v1UGtrxaAWRcUdK1TfoRVGXAr1EiGHWEVoRXtQiNhDBcVLvSlIFbyInioSPbiCokg0y2RxwaUEhbjQxkQRIRpE7bwzp2ce3u/9Zv4/IPXLzfoDqerte7HAXh8qPD4zrUViuuWzwknjpaJvjd6oiRdXw56nhP9/EZbvg62Fiu+9OkDFE+aXjh0YRaPCE4F95Lzg7NMPm0h+xoz7mxPX/Q0Kt+c5UG1m5mJ+F7+/kjWHLqR5mBeKncjy008tWjFkUL20jZUjsq5DhnzJjMflwZ6dPrN7C5MvuUs7eooJnV7hH/4QMbWHvvGPE9pb5jvLzDCa2FP5ehf+KHJXjRWGCP5XSa4LESH0bwxmmMbYs/XKgWi159OCHatNzORHmhDcpJ8Kyqht4zfU+SyoMdL/jV9Hagv7I3/aoGlmpmnAivMT9s/euNDip9/J+YfAImcTfV4cu7nrpteKhDj2eNttOPyintWZBTpJnS1fh/iL/vukBUlz5OKeDQyOsEfQmrE0zb3vJAeOkukz9mQk9DEPrQ134+SR2G3Ys8mFw24UXZPHvPuo16v3q7+AUEf/MaZMfACy24tkfAIAAA==" />
    <add key="/lpc/nct6779d/control/4/values" value="H4sIAAAAAAAEAPvhMflcdsJtD3NzdyfvBDV2BiAAsS083imzgjgMB/63acUxwcSnveEtgLEBECrnRTwAAAA=" />
    <add key="/lpc/nct6779d/control/3/values" value="H4sIAAAAAAAEAPvhMflcdsJtD3NzdyfvBDV2BiAAsS083imzgjgMB/63acUxwcSnveEtgLEBECrnRTwAAAA=" />
    <add key="/lpc/nct6779d/control/2/values" value="H4sIAAAAAAAEAPvhMflcdsJtjy1bdjiZnE9kYgACVta9TuITj7DA2BYe75RZQRyGA//btOLAau7c2eBk8xyi/vevVU7LHFLA7LtAcSsHiLimxgEnRYEkMPvkiX1Ox3OSwew5szc7TTieCGWvdJo+BcLOytzspPYEon7Z0o1Ouu8h4hoa25xmlUPEO9q3O21bAmH/+rXFaRk7hP382Ton3u8QtpzcOqf10hC7Jk3c6rQ2JgHM7u1Z4/Q6JhmuZpJiMtz8jccRdt17mgB3TyJXCtydhhoQNW5uG5yOL4XoPXJ4q9O5SzB7dzjtSIOoiY9f7SR+BeHmxlkJcHdqd0HEubg2OXlMgZh/6dIep//OCXC/C/ClwN2T+z4Bbs6aj12cMHZ7PkS8uHijk+PMJGhcbHGS3wlhPwPaNX0exD03ri932r85Ge62h4qI8JfqgahPAIr/XQZhX760yWkRNGxB/k2WgejV1d3qlJgA0ZuXt8mJITIJmmY2OwEAPOJc3UwCAAA=" />
    <add key="/lpc/nct6779d/control/1/values" value="H4sIAAAAAAAEAPvhMflcdsJtjy1bdjiZnE9kYgACVta9TuITj7DA2BYe75RZQRyGA//btOLAau7c2eBk8xyi/vevVU7LHFLA7LtAcSsHiLimxgEnRYEkMPvkiX1Ox3OSwew5szc7TTieCGWvdJo+BcLOytzspPYEon7Z0o1Ouu8h4hoa25xmlUPEO9q3O21bAmH/+rXFaRk7hP382Ton3u8QtpzcOqf10hC7Jk3c6rQ2JgHM7u1Z4/Q6JhmuZpJiMtz8jccRdt17mgB3TyJXCtydhhoQNW5uG5yOL4XoPXJ4q9O5SzB7dzjtSIOoiY9f7SR+BeHmxlkJcHdqd0HEubg2OXlMgZh/6dIep//OCXC/C/ClwN2T+z4Bbs6aj12cMHZ7PkS8uHijk+PMJGhcbHGS3wlhPwPaNX0exD03ri932r85Ge62h4qI8JfqgahPAIr/XQZhX760yWkRNGxB/k2WgejV1d3qlJgA0ZuXt8mJITIJmmY2OwEAPOJc3UwCAAA=" />
    <add key="/lpc/nct6779d/control/0/values" value="H4sIAAAAAAAEAPvhMflcdsJtD3NzdyfvBDV2BiAAsR0U3ymzgjgMB/7XBcYxwcSnveEtgLEBhsxxyDwAAAA=" />
    <add key="/lpc/nct6779d/fan/4/values" value="H4sIAAAAAAAEAPvhMflcdsJtDwYg8E5QY2eAAutfb5VZwawD/5sr4phg4tPe8BbA2AALwfq5PAAAAA==" />
    <add key="/lpc/nct6779d/fan/3/values" value="H4sIAAAAAAAEAPvhMflcdsJtDwYg8E5QY2eAAutfb5VZwawD/5sr4phg4tPe8BbA2AALwfq5PAAAAA==" />
    <add key="/lpc/nct6779d/fan/2/values" value="H4sIAAAAAAAEAPvhMflcdsJtDwYg8E5QY2eAAutfb5VZwawD/5sr4phg4tPe8BbA2AALwfq5PAAAAA==" />
    <add key="/lpc/nct6779d/fan/1/values" value="H4sIAAAAAAAEAPvhMflcdsJtDwYg8E5QY2eAAutfb5VZwawD/5sr4phg4tPe8BbA2AALwfq5PAAAAA==" />
    <add key="/lpc/nct6779d/fan/0/values" value="H4sIAAAAAAAEAPvhMflcdsJtDwYg8E5QY2eAAutfb5VZwawD/5sr4phg4tPe8BbA2AALwfq5PAAAAA==" />
    <add key="/lpc/nct6779d/temperature/6/values" value="H4sIAAAAAAAEAPvhMflcdsJtDwaGYwdNzicyMYDBiYPiE4+wwNhnL71VZgWzD/z/OD8OqubIQZvniXD2MocUKPvYQSsHhLiiQBKcfTwnGco+cHDCcZiaQwenT0mEi6s9SYKL675HiM8qT4Kzty1BqFnGjhDn/Y4QXy+dDLd3bUwCnP06JhmuZpIigr3xOMKue08T4H5J5EqBqzHUQPjr+NJkuJpzlxBu2JGG8Jf4FYT4lx3q7DD2f+cEuBoBvhS4mtz3CHf+2IPQ+/QewkwpYYT6rU4I/7bnJ8DFHWciwlx+J4I9fR4ifvdvRoTPQ0WE+TutYO48dDBZBqEmMQGhlyES4TYAZzS4Q0ACAAA=" />
    <add key="/lpc/nct6779d/temperature/5/values" value="H4sIAAAAAAAEAPvhMflcdsJtDwaGLY4m5xOZGMBgg6Pm6SQoe5vju6MI8bOX3iqzgtkH/n+cHwcV3+Fo8zwRrn6ZQwqUvcXRygEhrigAM3OT4/GcZLjeCccRavZWHGGBsXXfJ8LVfFNWZ4exeb8j3LZeGmHO2pgEuPjrGIT4JEUEeyOSXfeeJsDFE7lS4GxDDYSa40sRes9dSoKzd6Qh1IhfQYg3zkKYqd2FcKfHFIT5/50RagT4UuBqct8jxH/sQZj59B7CLilhhDlzWDo4Yezp8xLhYbt/czKc/VAREYZSPQgz/y5DuG0RO0I8+CuMvcWxsB1hJkMkQj0A8/4KvTQCAAA=" />
    <add key="/lpc/nct6779d/temperature/4/values" value="H4sIAAAAAAAEAPvhMflcdsJtDwaGD44m5xOZGMDgjaPm6SQo+53ju6Mw8Q+OZy+9VWYFsw/8/zg/Di5u8xyhZplDClyvlQNC/I/yBgEYe9sShPnL2JPgaljPxTnA2Ps3J8PVPFREmLPTSp0dxg7+ijCnsB2hhiESYSYA4djqD+QAAAA=" />
    <add key="/lpc/nct6779d/temperature/3/values" value="H4sIAAAAAAAEAPvhMflcdsJtDwaGAkfvBDV2BjAocDx76a0yK5h94P/H+XFMMPFpb3gLYGwASzakDjwAAAA=" />
    <add key="/lpc/nct6779d/temperature/2/values" value="H4sIAAAAAAAEAPvhMflcdsJtDwYGDifvBDV2BjDgcDp76a0yK5h94P/H+XFMEHEWp2lveAtgbAANKPm7PAAAAA==" />
    <add key="/lpc/nct6779d/temperature/1/values" value="H4sIAAAAAAAEAPvhMflcdsJtDwYGAyeT84lMDGBg4KR5OgnCbjBwencUJm7kdPbSW2VWMPvA/4/z46Diak4lFnNkYGze7zC9ak5tX2BsdadrzQlw9a9jkuHikxST4eJsesWiMLZ2F0yvipNpbgpcjVLlERYYO/c9zEx1px97oOoZNJy2mGiww9jt+Qg1jjMR7pHfiXDn9HmJcPMjBd5ww9jBXxFmFrYnwtkMkTC9Gk4AvY8tekQBAAA=" />
    <add key="/lpc/nct6779d/temperature/0/values" value="" />
    <add key="/lpc/nct6779d/voltage/14/values" value="H4sIAAAAAAAEAPvhMflcdsJtj41FL+y9E9TYGYAAxGaZ8VaZFcRhOPB/1604Jpj4tDe8BTA2AKyyXzg8AAAA" />
    <add key="/lpc/nct6779d/voltage/13/values" value="H4sIAAAAAAAEAPvhMflcdsJtD+7ri+28E9TYGYAAxGaZ8VaZFcRhOPB/1604Jpj4tDe8BTA2AOx/a6U8AAAA" />
    <add key="/lpc/nct6779d/voltage/12/values" value="H4sIAAAAAAAEAPvhMflcdsJtDzuu6/axs46wMAABiP3uaCITiH3C+7o9y4y3yqwgDsOB/7tuxTHB1Ng8R6hZ5pACF7dyQIgrCiTBxYVs4h1g7B97kuBqnt5LhKvJcv4nB2MzRELU3Dp33R4A2foNB6gAAAA=" />
    <add key="/lpc/nct6779d/voltage/11/values" value="H4sIAAAAAAAEAPvhMflcdsJtD3XDDnvvBDV2BiAAsVlmvFVmBXEYDvzfdSuOCSY+7Q1vAYwNANkAJU88AAAA" />
    <add key="/lpc/nct6779d/voltage/10/values" value="H4sIAAAAAAAEAPvhMflcdsJtj81z8+29E9TYGYAAxGaZ8VaZFcRhOPB/1604Jpj4tDe8BTA2AC0oCvs8AAAA" />
    <add key="/lpc/nct6779d/voltage/9/values" value="" />
    <add key="/lpc/nct6779d/voltage/8/values" value="" />
    <add key="/lpc/nct6779d/voltage/7/values" value="H4sIAAAAAAAEAPvhMflcdsJtj7UyUQ7eCWrsDEAAYrPMeKvMCuIwHPi/61YcE0x82hveAhgbALixDwI8AAAA" />
    <add key="/lpc/nct6779d/voltage/6/values" value="H4sIAAAAAAAEAPvhMflcdsJtj1kzZ9p7J6ixMwABiM0y460yK4jDcOD/rltxTDDxaW94C2BsADL5OKk8AAAA" />
    <add key="/lpc/nct6779d/voltage/5/values" value="H4sIAAAAAAAEAPvhMflcdsJtj3yhZnvvBDV2BiAAsVlmvFVmBXEYDvzfdSuOCSY+7Q1vAYwNAIUY3UA8AAAA" />
    <add key="/lpc/nct6779d/voltage/4/values" value="H4sIAAAAAAAEAPvhMflcdsJtD/nW1/beCWrsDEAAYrPMeKvMCuIwHPi/61YcE0y8xGKODIzN+z0JLL7i2Gv7ti8QthHHG/trzQlw9Y8XM8jD2ELZEPGVQPUCfClwNX5ef+Vg7EXsCDODvybB1Re2J8LVM0QmwdkAnevi48AAAAA=" />
    <add key="/lpc/nct6779d/voltage/3/values" value="H4sIAAAAAAAEAPvhMflcdsJtDzuucAfvBDV2BiAAsVlmvFVmBXEYDvzfdSuOCSY+7Q1vAYwNAN5wIac8AAAA" />
    <add key="/lpc/nct6779d/voltage/2/values" value="H4sIAAAAAAAEAPvhMflcdsJtDzuucAfvBDV2BiAAsVlmvFVmBXEYDvyfuTmOCSa+XZivAMYGAOgklO88AAAA" />
    <add key="/lpc/nct6779d/voltage/1/values" value="H4sIAAAAAAAEAPvhMflcdsJtj2cXFtl7J6ixMwABiM0y460yK4jDcOD/zM1xTDDx7cJ8BTA2AMQBOzo8AAAA" />
    <add key="/lpc/nct6779d/voltage/0/values" value="H4sIAAAAAAAEAPvhMflcdsJtj6MKBvYm5xOZGIAAxNY8nQRmX19sYP/uKER8gZS+PcuMt8qsIA7Dgf8zN8eBxRcCxWP5IOorX6rZL3NIgbOtHCB6Iy1N7BUFIGqOAc0/npMMZvfkqNtPOA5RI9+qbT99CoS9ea6+vdqTJDhb9z1E3G2bsf2s8iS4mduWQNhc15Xtl7FD2Ie/atjzfk+Cq2/7kgS361pzAph9tULT/nVMMtydkxQR7tkIdU8Yn679vacQ9elpavaJXClw8w01EP46vjQZHlbnLiXB/bIjDaKGG+g28SsQcSMOHfvGWRAzn11QstfuQqg3zYWYHw60VygbouaVmqG9AB9E3B3ol9z3EPFqET37H3uS4Oqf3kO4R0o4Bc7e6gRRcwPotvZ8iN6NRRr2mkWIsDV/gAi36fMS4Wr2b06G2/VQEZE2pHog6kMfq9r/XZYE9+MiaPhnTtS1D/6aBHd/YTtE7686LXuGyCS4OQDQfDTKfAIAAA==" />
  </appSettings>
</configuration>