<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="608" />
    <add key="mainForm.Location.Y" value="24" />
    <add key="mainForm.Width" value="705" />
    <add key="mainForm.Height" value="960" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEABNNZvl7NP62B1MEh2OM3kxtBjA48F/kyDNGEKtDj90x/+BLH5j46y//weLtniyOJr+yzRih4rzbg+bA1Ew15WcCsfwMWRxTuDMgbFkWx8jUZDC77hyzY31NHJhtXMPi6KibCmYLi7E6FkulgNlbWFgdVWQh7HdRLI5n3CBqzqxlcQzYmgZmC31icVyRnARmf/rC4ih+CqIm4A+LY9u/eDD7NA+rY/UFiDmtM4Hu2Qdh7ykBup8Dwv6pxOLo75MIZqceZXbk8JgnAvNLffETsBfjm5kcJUITwGoE3zA5TsyF6JX3ZXaUjoC4J8KP2REAnq9WylABAAA=" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEABNNZvl7NP62B4vtC4cYvZnaDGBw4L/IkWeMINaP/lcO+Qdf+sDEX3/5Dxb/FfnBweRXthkjVJx3e9AcmJqppvxMIFZO1weHFO4MCHvTB4fI1GQwmyfgo0N9TRyYvejLewdH3VQw+9GBdw7FUilg9oLH7xxUZCFsHfMPDmfcIGoKJr53CNiaBmY/4XjvsCI5CcxWYX7vIH4KoibjyzuHtn/xYHbR5XcO1Rcg5vzb+d4hZR+EPYEZ6H4OCFts+QcHf59EMNsu6aMDh8c8EZhf6oufgL3o9eyzg0RoAljNM5HPDhNzIXpPBX1ykI6AuCci4JMDAIbcFwlQAQAA" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEABNNZvl7NP62R8Yvc6cYvZnaDGBw4L/IkWeMINaui5ZO+Qdf+sDEX3/5DxY/mm7nZPIr24wRKs67PWgOTM1UU34mEEutz84phTsDzL661s4pMjUZzN6iZe9UXxMHZleL2zk56qaC2RuUbZ2KpVLAbFN7WycVWQjbyMfO6YwbRM3zE7ZOAVvTwOxdMbZOK5KTwGydCFsn8VMQNY0+tk5t/+LB7BQjW6fqCxBz2F/aOqXsg7D9lYHu54Cwby2xc/L3SQSz5SztnTg85onA/FJf/ATsxRBzRyeJ0ASwmqKJDk4TcyF61363d5KOgLhn31d7JwA+Q6LhUAEAAA==" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEADvwOuvP0fjbHknPH9hN4BbVYQCDA/8X6KQzglhtbJvsYisymcCiDmz2sYHc3jA1E2dWgNVUPjxsJ+3/24wRKj4nvhzMtEy7aNdz+e4smHqZR7Vgcec1K+0O1aWBzcx7dM/ORzYJzJ7qUWK/ZE0KmH1ezsD+Cj9EvCj6mV3k5WQwW+K2sn3yO4gaA7WXdkKHU8HsGUcb7epWQ9TzKB23CxKBqN/48bGd2R2IXQa7ztjd+Q0Rv6Qw3+7Tj0Qwu+7RT7trtRDxzSZX7USFIOrZCjTtn05LALPTIn/ayb0UE4X5JaUkC+wXOe2zdqbxEL3MU9bY2WZCzNRZy2B//yHEnQyXU+ykL0HUaDKZ2AMASxXcjXQBAAA=" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEADvwOuvP0fjbHiJP9thN4BbVYQCDA/8X6KQzglg3Yo/ZxVZkMoHY866U2ccGcnvD1EycWQFWc/DgGjtp/99mjFDxOfHlYOaniTL2PZfvzoKpl3lUCxY/suud3aG6NLCZr6ZNtfORTQKzr+4IsV+yJgXMvuAcZH+FHyJeqKRgH3k5GcxeF1don/wOoiZI1tFe6HAqmN3w182ubjVE/cXul3ZBIhD1CZMM7M3uQOx64mdgf+c3RDx68Uy7Tz8SwWx3Jk77a7UQcecrM+1EhSDqhSZ72z+dlgBm/7RjtJd7KSYK80tKSRbYL44Jyvam8RC9AQrXbG0zIWY2/Vpre/8hxJ0Hnj22lb4EUXNjv50dAOh/vxt0AQAA" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEADvwOuvP0fjbHleXrbafwC2qwwAGB/4v0ElnBLH6os45xFZkMoHYJdNYHWMDub1haibOrACrubdO11Ha/7cZI1R8Tnw5mKn54a5Dz+W7s2DqZR7VgsXlxEscD9Wlgc28X8bm6CObBGbv7bnusGRNCpgtLPvf4Qo/RPxr90+HyMvJYPYXW2bH5HcQNSeU/zgIHU4Fs+UDxRzrVkPU53kwOgaJQNTfXc7haHYHYpfJvV8Od35DxL9JSTh8+pEIZu86n+JwrRYivihawVFUCKJ+kV6C49NpCWC2Baego9xLMVGYX1JKssB+Wd3wysE0HqLXeTeXo20mxMwfc/kc7z+EuHPKNzZH6UsQNT0fWB0Bg2n+XnQBAAA=" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEADvwOuvP0fjbHtardB0mcIvqMIDBgf8LdNIZQawQw78OsRWZTCA2d6a6Y2wgtzdMzcSZFWA1Na9cHaX9f5sxQsXnxJeDmS6reBx7Lt+dBVMv86gWLG6f0up4qC4NbObHWTKOPrJJYLaXkoDjkjUpYPbf3/KOV/gh4snPxB0jLyeD2Q5Vqo7J7yBqyv5IOwodTgWzz7xSd6xbDVFfJCTpGCQCUZ/HqeJodgdiV0aKhOOd3xDxh7fTHT79SASzf/Usd7hWCxHf/tjMUVQIov7y5kbHp9MSwOxzurqOci/FRGF+SSnJAvtF+b2Ao2k8RO/VG9KOtpkQM22eKDjefwhx53sPcUfpSxA1dYUyjgDDXlvUdAEAAA==" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEADvwOuvP0fjbHs53prlM4BbVYQCDA/8X6KQzgliSd8xdYysymUDs17m/XWIDub1haibOrACryWGQcpX2/23GCBWfE18OZu67ze3ac/nuLJh6mUe1YHGDye6uh+rSwGa6eiq4+sgmgdl9t8Vcl6xJAbN/bBN2vcIPEc+bpOYaeTkZzJZl4HdNfgdRo8Zg7Sp0OBXMfpIb5Vq3GqLez9PHNUgEon67ip2r2R2IXb1A8+/8hoifymVy/fQjEcy+kyvheq0WIl44yd1VVAiivmRSkOvTaQlgNtN2e1e5l2KiML+klGSB/eK2XdjVNB6i9/82TVfbTIiZt3L1XO8/hLhzq4qGq/QliBoVBgNXALmzSJF0AQAA" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAJuelPnnaPxtD+c701x2ThHTYQCDA//vL01lBLHitmu6uk7KYAKx/23TdDXbx+sNU/NRvQysZtskNdfdB/6aMULF318vBTP33eZ2tYy+PwumXjy6BixuMNnd1XVrKthMV08F1+CnSWB2xiQB13O/U8DsH9uEXS2eJ4LZxZNsXJkWJ4PZXUAzPX9A1NzK1XM9eArCfpIb5Rq8E2KOn6eP6+//EPVqDG6ujO8gduVNMnRd9wqinmH7a5cTbyHmf8r97TKDCaK3aJK7q+iSNDA70DPc1bEbomabirHrvnwJUZhfjr/NAPvFbbuwa0MCxK7/wPC5np4Id9vkxxC7soHhU38BokaFwcAVAC8p3at0AQAA" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEANt/O/3P0fjbHs53prlMlJbQYQCDA/8TZFMYQaw7txVdFWamM4HYt3L1XG/ZC3jD1BjdKgGrUcmzdK3i+2/GCBVfngQR33eb27XxwoNZMPUll6rA4gaT3V2/rUsBm+nqqeC6/2kymJ0xScA1VBIi/mObsKvz/UQwO8DT0ZV5AkT8Wq6E65y/KXD33LwI0avHEOP6/GASmO3n6eOaeB+iRo3BzfWpZxqY7eGp7bp/PkQ8b9ILl8+PIeZnTWJ11eKB6NVmCHSVXJQKZusCzVzbCxH39DRz1fomKQrzi2p6OtgvbtuFXWXjIW74v03TVSMzEe62+48hdmVPUnP1uABRo8Jg4AoAeooJe3QBAAA=" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEALsemvbnaPxtD+c701wqF0rqMIDBgf9GPUmMINYET1HX1u1pTCD2lNvmros3CXnD1LClFEPVmLkua2EwZ4SKf71WBGbuu83tahzzaBZMfY5zJVj8IYObq9azZLCZrp4KrvbbUsDsjEkCrnHKEHFZBinXo88SwewAT0fXFV8h4tdyJVxft0HccytXz7XvbhKYrccQ45q3DaLGz9PH9cpdiJkFk9xdqyZC1CsxqLpuiYSIZ0265HLpBsR8N08uV29xiDn+QL2uC1LB7P0qIa5Z/RBxT6Af79ZIi8L80vEgFewXt+3Crv1xEHv/b9N03Z6eCHdb+VOIXdmT1FzXXYCoyZ1k6AoAjtURoXQBAAA=" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEADvwOuvP0fjbHvmqJ50mcIvqMIDBgf8LdNIZQaxgoHhsRSYTiL1bBcgO5PaGqZk4swKs5g9QXNr/txkjVHxOfDmYyQzU23P57iyYeplHtWDxcKD4obo0sJm7gHp9ZJPA7D1A9pI1KWD2DiD7Cj9EfB+QHXk5Ge6G5HcpcL1Ch1PheutWJ8HFg0Qg6ncC2WZ30uBq7vyGiG8Gsj/9SASzjwDZ12qT4WpEhRDqn05LgJsp91JMFOaXlJIssF/UgH4xjYfo3QtUY5uZCHfn/YcpcHOkLyHcDwCza2dtdAEAAA==" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEANt/MeXP0fjbHgwMZk4TVaV1GMDgwP92jURGMLOhzUlzdioTRHyS0yojUW+Ymm23C6FqZjh942EyZ4SK+06AijM0Ot1e9HgWTH3NznKo+ilO2jzJUDNbnX5Mgprf0OB0SzEJLv5RGaamzylsOYzd5rRtehqU3eN0txKmfqbTLpkUuDuV7iPYU2fB3N/txOUPYxc41T1IhLLTnTbxw8xZ7GT8E2bXFKcFZilwNyQyy4rC/PIiMgXuR94oqPqGdqd1aVAzGzqd2F+nwN28/ALMzE4nAIGx+jt0AQAA" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEANt/MeXP0fjbHgwMhk4TVaV1GMDgwP92jURGCLvISXN2KhOEXeG0ykjUG6Zm2+1CiJqGSU7feJjMGaHivhOg4gzFTrcXPZ4FU1+zsxwq3umkzZMMMbOhyenHJJj55U63FJOYYPZ+VIap6XAKWw5lA83cNj0Nyk5zulsJU1/jtEsmBcpudVK6nwJ389RZqXC7uPxhdqU41T1IhLKjnDbxw8xpdDL+CbOryWmBWQrc3kRmWVGYX15EpkD9Uu/EGwVTX+a0Lg1mZoET++sUuL+WX4CpaXACAK2ilfR0AQAA" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEANt/MeXP0fjbHgwM2k4TVaV1GMDgwP92jURGMLOh0UlzdioTRLzOaZWRqDdMzbbbhVA1rU7feJjMGaHivhOg4gy1TrcXPZ4FU1+zsxwqXuKkzZMMNTPF6cckmPlZTrcUk6DsKqePyjA1qU5hy2HsQqdt09Og7GKnu5Uw9Y1Ou2RSoOx0J6X7KXA3T52VChfn8k+F21v3IBHKjnfaxA8zZ5qT8c9kuJkLzKDmNHQ4JTLLisL88iIyBeqXfCfeKJj6Iqd1aTAzC5zYX6fAxZdfgKnJdgIARvgvnXQBAAA=" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEANt/MeXP0fjbHgwM+k4TVaV1GMDgwP92jURGCLvQSXN2KhOEXeG0ykjUG6Zm2+1CqJoWp288TOaMUHHfCTDxIqfbix7Pgqmv2VkOEW+Y5KTNkww388ckmPl5TrcUk6DsHKePyjA1xU5hy2HsSqdt09Og7CSnu5VQ9Q0NTrtkUphg9irdh7FrnabOgplf4sTlD2MnOtU9SISyI5w28cPsTXUy/gm1q6HVaYEZzJxyp0RmWVGYX15EpkD9WObEG5UMd/O6NKiZDY1O7K9T4H5cfgGmptAJAOMrw9p0AQAA" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEANt/MeXP0fjbHgwM5k4TVaV1GMDgwP92jURGCLvCSXN2KhOEXee0ykjUG6Zm2+1CiJqGHqdvPEzmjFBx3wmFcL23Fz2eBVNfs7McKt7lpM2TDDUzx+nHJJj5VU63FJOg7Banj8owNSlOYcth7AynbdPTmGDm3K1MgpuzSyYFyi5xUroPY2c7TZ0FMz/Z6aVDEtzMGbdS4OI7lWHiWU7GP5Ph/l1gBlNT6pTILCsK88uLyBSoX8qdeKNg6mud1qUlQtk1TuyvYXrLnJZfSIaLAwCDARLudAEAAA==" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEANt/MeXP0fjbHjsyNBxKLYV1GMDgwP/FIpmMIFaCd5Oj5uxUJhBbQyzB0a2CyRumRmpaC1hNwO69jqyBX8wYoeJ2PvVgpq56leMt13OzYOprxXrB4tfk2Zy0eZLBZq5/yeX0YxLU/GtXHG8pJoHZDB9eO35UhqgJL77mGLYcwt50Wdtx2/Q0MLtL9orD3UqI+lfHhB13yaSA2f5rpjkq3YewhaNbHKfOgphf4jXH8aUD1PwFBY4zbkHUWDU2Oe5UhoifU1rgaPwTYleyeKfjAjOIGoYNjY57lXlEYX7psSwF+2XdxDuOvFEQ9W/3nXZcl5YIZl9dy+DE/hqi9/dZScflFyBq/HuOOgIApVSCjHQBAAA=" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEANt/MeXP0fjbHh9iexxKLYV1GMDgwP/FIpmMINaeoABHzdmpTCB2QKGRo1sFkzdMjdS0FrAaZ9sIR9bAL2aMUHE7n3ow82/0ccdbrudmwdTXivWCxV/OFHbU5kkGm1nittDxxySI+e9cohxvKSaB2QwGyx0/KkPUfCjTcAxbDmGrH+ty3DY9DcxOWl7heLcSoj5/9nzHXTIpYPZG4ShHpfsQtsNXbsepsyDmd8X2O7x0gKjvKGl3nHELokYg3txxpzJEPMpnraPxT4hdj+YVOi4wg6iJFTF03KvMIwrzS49lKdgvHYrTHXmjIOqFr09wXJeWCGYrnXjvwP4aojdA56rj8gsQNbvfrnMEACI1yft0AQAA" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEANt/MeXP0fjbHseaz9mXWgrrMIDBgf+LRTIZQSwLc3lHzdmpTCB2knmTo1sFkzdMjdS0FrCam98iHVkDv5gxQsXtfOrBzHcfmZxuuZ6bBVNfK9YLFo8o13fS5kkGm/ldaq/jj0kQ8y9x73a8pZgEZnudXu34URmipvSummPYcgjb/swqx23T08DsN0e0HO9WQtSf31HluEsmBczetDnKUek+hH1aaLLj1FkQ8zfLzHd86QBR/+SHquOMWxA1fmtKHXcqQ8SjUvMcjX9C7PqzK9dxgRlEjVictuNeZR5RmF96LEvBfqkyY3HijYKoZyiY4rguLRHM/iAh5cT+GqK3KPWY4/ILEDWbn+Y5AgDgvUJYdAEAAA==" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEANt/MeXP0fjbHh/7IhxLLYV1GMDgwP/jLzIYQawF1Z2OrMdTmUBsk08zHd0qmLxhaqSmtYDVHFvf6sga+MWMESpu51MPZma7Czvdcj03C6a+VqwXLL7BZ42jNk8y2EwGBSPHH5Mg5s/5Eex4SzEJzF65fLfjR2WImhudbxzClkPVJ4Q5bpueBmYfsbvgeLcSop6x4abDLpkUMLujUdpR6T6ELSxt6jh1FsR8tW9nHV46JEHNkXeccQuiRqAqwHGnMkS8S13A0fgnxC438WTHBWYQNUIsoY57lXlEYX7psSwF+8Wu8pIjbxREvetxLcd1aYlg9hK2dkf21xC92dvOOC6/AFFzZnWqIwBskrIsdAEAAA==" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEANt/MeXP0fjbHl4hGx1KLYV1GMDgwP/FIpmMINbfo4mOmrNTmUDsFduKHN0qmLxhaqSmtYDVeCi2O7IGfjFjhIrb+dSDmZMs7jjecj03C6a+VqwXLP4/8IajNk8y2EyTwM2OPyZBzNc/MNPxlmISmL1vyT7Hj8oQNf/nxziGLYewFcKqHbdNTwOz1eqyHe9WQtQvmuvnuEsmBcxOzoh3VLoPYbP/jnacOgtiPlecp+NLB4j6WotAxxm3IGp+LExw3KkMEU/TbXY0/gmx64d6qeMCM4ia+aa+jnuVeURhfumxLAX7JWrZZUfeKIj6jFkTHdelJYLZfYr7HNlfQ/Se9l7ruPwCRM2mDdMdASmvd0h0AQAA" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="375" />
    <add key="treeView.Columns.Value.Width" value="150" />
    <add key="treeView.Columns.Min.Width" value="150" />
    <add key="treeView.Columns.Max.Width" value="150" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>